In [1]:
import pandas as pd

## 07.94 Intro to the MultiIndex Module

In [4]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"])
bigmac.head(3)

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35
3 2016-01-01    Britain                 4.22
4 2016-01-01     Canada                 4.14

In [6]:
bigmac.dtypes
bigmac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 3 columns):
Date                   652 non-null datetime64[ns]
Country                652 non-null object
Price in US Dollars    652 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 15.4+ KB

## 07.95 Create A MultIndex with the .set_index() Method

In [7]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"])
bigmac.head(3)

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35

In [14]:
bigmac.set_index(keys = ["Date", "Country"], inplace=True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35

In [16]:
bigmac.sort_index(inplace=True)

In [18]:
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [20]:
bigmac.index.names

FrozenList(['Date', 'Country'])

In [22]:
type(bigmac.index)

pandas.indexes.multi.MultiIndex

In [23]:
bigmac.index[0]

(Timestamp('2010-01-01 00:00:00'), 'Argentina')

## 07.96 The .get_level_values() Method

In [26]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace=True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [32]:
bigmac.index.get_level_values(0)
bigmac.index.get_level_values("Date")

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=652, freq=None)

In [34]:
#bigmac.index.get_level_values(1)
bigmac.index.get_level_values("Country")

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Colombia', 'Costa Rica', 'Czech Republic',
       ...
       'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine',
       'United States', 'Uruguay', 'Venezuela', 'Vietnam'],
      dtype='object', name='Country', length=652)

## 07.97 The .set_names() Method on MultiIndex

In [1]:
import pandas as pd

In [2]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace=True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [7]:
bigmac.index.set_names(['Date', 'Location'], inplace=True)

In [8]:
bigmac.head(3)

                      Price in US Dollars
Date       Location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

## 07.98 The .sort_index() Method on a MultiIndex DataFrame

In [9]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace=True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [13]:
bigmac.sort_index(ascending=[True, False], inplace=True)

In [14]:
bigmac.head(3)

                          Price in US Dollars
Date       Country
2010-01-01 Uruguay                       3.32
           United States                 3.58
           Ukraine                       1.83

## 07.99 Extract Rows from a MultiIndex DataFrame

In [15]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace=True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [18]:
bigmac.loc[("2010-01-01", "Brazil"), 'Price in US Dollars']

Date        Country
2010-01-01  Brazil     4.76
Name: Price in US Dollars, dtype: float64

In [21]:
bigmac.loc[('2015-07-01', 'Chile'), 'Price in US Dollars']

Date        Country
2015-07-01  Chile      3.27
Name: Price in US Dollars, dtype: float64

In [24]:
bigmac.ix[('2016-01-01', 'China'), 0]

2.6800000000000002

## 07.100 The .transpose() Method and MultiIndex on Column Level

In [25]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace=True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [27]:
bigmac = bigmac.transpose()
bigmac.head(1)

Date                2010-01-01                                              \
Country              Argentina Australia Brazil Britain Canada Chile China
Price in US Dollars       1.84      3.98   4.76    3.67   3.97  3.18  1.83

Date                                                     ...    2016-01-01  \
Country             Colombia Costa Rica Czech Republic   ...   Switzerland
Price in US Dollars     3.91       3.52           3.71   ...          6.44

Date                                                                    \
Country             Taiwan Thailand Turkey   UAE Ukraine United States
Price in US Dollars   2.08     3.09   3.41  3.54    1.54          4.93

Date
Country             Uruguay Venezuela Vietnam
Price in US Dollars    3.74      0.66    2.67

[1 rows x 652 columns]

In [30]:
bigmac.ix['Price in US Dollars', ('2016-01-01', 'Denmark')]

4.3200000000000003

## 07.101 The .swaplevel() Method

In [31]:
bigmac = pd.read_csv("bigmac.csv", parse_dates=["Date"], index_col = ["Date", "Country"])
bigmac.sort_index(inplace=True)
bigmac.head(3)

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76

In [35]:
bigmac = bigmac.swaplevel()
bigmac.head(3)

                      Price in US Dollars
Country   Date
Argentina 2010-01-01                 1.84
Australia 2010-01-01                 3.98
Brazil    2010-01-01                 4.76

## 07.102 The .stack() Method

In [38]:
world = pd.read_csv('worldstats.csv', index_col=['country', 'year'])
world.head(3)

                  Population           GDP
country    year
Arab World 2015  392022276.0  2.530102e+12
           2014  384222592.0  2.873600e+12
           2013  376504253.0  2.846994e+12

In [40]:
world.stack().to_frame()

                                       0
country    year
Arab World 2015 Population  3.920223e+08
                GDP         2.530102e+12
           2014 Population  3.842226e+08
                GDP         2.873600e+12
           2013 Population  3.765043e+08
                GDP         2.846994e+12
           2012 Population  3.688026e+08
                GDP         2.773270e+12
           2011 Population  3.610318e+08
                GDP         2.497945e+12
           2010 Population  3.531122e+08
                GDP         2.103825e+12
           2009 Population  3.450542e+08
                GDP         1.798878e+12
           2008 Population  3.368865e+08
                GDP         2.081343e+12
           2007 Population  3.287666e+08
                GDP         1.641666e+12
           2006 Population  3.209067e+08
                GDP         1.404190e+12
           2005 Population  3.134309e+08
                GDP         1.184735e+12
           2004 Population  3.063874e+08
                GDP         9.639180e+11
           2003 Population  2.997320e+08
                GDP         8.218702e+11
           2002 Population  2.934026e+08
                GDP         7.279939e+11
           2001 Population  2.872918e+08
                GDP         7.221506e+11
...                                  ...
Zimbabwe   1974 Population  5.967861e+06
                GDP         3.982161e+09
           1973 Population  5.768382e+06
                GDP         3.309354e+09
           1972 Population  5.573312e+06
                GDP         2.677729e+09
           1971 Population  5.385342e+06
                GDP         2.178716e+09
           1970 Population  5.206311e+06
                GDP         1.884206e+09
           1969 Population  5.036321e+06
                GDP         1.747999e+09
           1968 Population  4.874113e+06
                GDP         1.479600e+09
           1967 Population  4.718612e+06
                GDP         1.397002e+09
           1966 Population  4.568320e+06
                GDP         1.281750e+09
           1965 Population  4.422132e+06
                GDP         1.311436e+09
           1964 Population  4.279561e+06
                GDP         1.217138e+09
           1963 Population  4.140804e+06
                GDP         1.159512e+09
           1962 Population  4.006262e+06
                GDP         1.117602e+09
           1961 Population  3.876638e+06
                GDP         1.096647e+09
           1960 Population  3.752390e+06
                GDP         1.052990e+09

[22422 rows x 1 columns]

## 07.103 The .unstack() Method, Part 1

In [41]:
world = pd.read_csv('worldstats.csv', index_col=['country', 'year'])
world.head(3)

                  Population           GDP
country    year
Arab World 2015  392022276.0  2.530102e+12
           2014  384222592.0  2.873600e+12
           2013  376504253.0  2.846994e+12

In [43]:
s = world.stack()
s.head(3)

country     year
Arab World  2015  Population    3.920223e+08
                  GDP           2.530102e+12
            2014  Population    3.842226e+08
dtype: float64

In [46]:
s.unstack().unstack().unstack()

            year  country
Population  1960  Afghanistan               8.994793e+06
                  Albania                            NaN
                  Algeria                   1.112489e+07
                  Andorra                            NaN
                  Angola                             NaN
                  Antigua and Barbuda                NaN
                  Arab World                         NaN
                  Argentina                          NaN
                  Armenia                            NaN
                  Aruba                              NaN
                  Australia                 1.027648e+07
                  Austria                   7.047539e+06
                  Azerbaijan                         NaN
                  Bahamas, The              1.095260e+05
                  Bahrain                            NaN
                  Bangladesh                4.820070e+07
                  Barbados                           NaN
                  Belarus                            NaN
                  Belgium                   9.153489e+06
                  Belize                    9.206800e+04
                  Benin                     2.431620e+06
                  Bermuda                   4.440000e+04
                  Bhutan                             NaN
                  Bolivia                   3.693451e+06
                  Bosnia and Herzegovina             NaN
                  Botswana                  5.240290e+05
                  Brazil                    7.249358e+07
                  Brunei Darussalam                  NaN
                  Bulgaria                           NaN
                  Burkina Faso              4.829291e+06
                                                ...
GDP         2015  Switzerland               6.647375e+11
                  Syrian Arab Republic               NaN
                  Tajikistan                7.853450e+09
                  Tanzania                  4.489539e+10
                  Thailand                  3.952816e+11
                  Timor-Leste               1.412378e+09
                  Togo                      4.002724e+09
                  Tonga                              NaN
                  Trinidad and Tobago       2.780575e+10
                  Tunisia                   4.301509e+10
                  Turkey                    7.182211e+11
                  Turkmenistan              3.733423e+10
                  Tuvalu                             NaN
                  Uganda                    2.636924e+10
                  Ukraine                   9.061502e+10
                  United Arab Emirates      3.702927e+11
                  United Kingdom            2.848755e+12
                  United States             1.794700e+13
                  Upper middle income       1.973288e+13
                  Uruguay                   5.344270e+10
                  Uzbekistan                6.673280e+10
                  Vanuatu                            NaN
                  Venezuela, RB                      NaN
                  Vietnam                   1.935994e+11
                  Virgin Islands (U.S.)              NaN
                  West Bank and Gaza        1.267740e+10
                  World                     7.343364e+13
                  Yemen, Rep.                        NaN
                  Zambia                    2.120156e+10
                  Zimbabwe                  1.389294e+10
dtype: float64

## 07.104 The .unstack() Method, Part 2

In [47]:
world = pd.read_csv('worldstats.csv', index_col=['country', 'year'])
world.head(3)

                  Population           GDP
country    year
Arab World 2015  392022276.0  2.530102e+12
           2014  384222592.0  2.873600e+12
           2013  376504253.0  2.846994e+12

In [49]:
s = world.stack()
s.head(3)

country     year
Arab World  2015  Population    3.920223e+08
                  GDP           2.530102e+12
            2014  Population    3.842226e+08
dtype: float64

In [57]:
s.unstack(-1)
s.unstack(2)

s.unstack(-2)
s.unstack(1)

s.unstack(-3)
s.unstack(0)

country           Afghanistan       Albania       Algeria       Andorra  \
year
1960 Population  8.994793e+06           NaN  1.112489e+07           NaN
     GDP         5.377778e+08           NaN  2.723638e+09           NaN
1961 Population  9.164945e+06           NaN  1.140486e+07           NaN
     GDP         5.488889e+08           NaN  2.434767e+09           NaN
1962 Population  9.343772e+06           NaN  1.169015e+07           NaN
     GDP         5.466667e+08           NaN  2.001461e+09           NaN
1963 Population  9.531555e+06           NaN  1.198513e+07           NaN
     GDP         7.511112e+08           NaN  2.703004e+09           NaN
1964 Population  9.728645e+06           NaN  1.229597e+07           NaN
     GDP         8.000000e+08           NaN  2.909340e+09           NaN
1965 Population  9.935358e+06           NaN  1.262695e+07           NaN
     GDP         1.006667e+09           NaN  3.136284e+09           NaN
1966 Population  1.014884e+07           NaN  1.298027e+07           NaN
     GDP         1.400000e+09           NaN  3.039859e+09           NaN
1967 Population  1.036860e+07           NaN  1.335420e+07           NaN
     GDP         1.673333e+09           NaN  3.370870e+09           NaN
1968 Population  1.059979e+07           NaN  1.374438e+07           NaN
     GDP         1.373333e+09           NaN  3.852147e+09           NaN
1969 Population  1.084951e+07           NaN  1.414444e+07           NaN
     GDP         1.408889e+09           NaN  4.257253e+09           NaN
1970 Population  1.112110e+07           NaN  1.455003e+07  2.427900e+04
     GDP         1.748887e+09           NaN  4.863488e+09  7.861762e+07
1971 Population  1.141282e+07           NaN  1.496011e+07  2.556000e+04
     GDP         1.831109e+09           NaN  5.077222e+09  8.940659e+07
1972 Population  1.171690e+07           NaN  1.537710e+07  2.689200e+04
     GDP         1.595555e+09           NaN  6.761786e+09  1.134144e+08
1973 Population  1.202251e+07           NaN  1.580443e+07  2.823100e+04
     GDP         1.733333e+09           NaN  8.715106e+09  1.508416e+08
1974 Population  1.231555e+07           NaN  1.624711e+07  2.951400e+04
     GDP         2.155555e+09           NaN  1.320971e+10  1.865572e+08
...                       ...           ...           ...           ...
2001 Population  2.053116e+07  3.060173e+06  3.159032e+07  6.777000e+04
     GDP         2.461666e+09  4.060759e+09  5.474471e+10  1.484005e+09
2002 Population  2.148708e+07  3.051010e+06  3.199039e+07  7.104600e+04
     GDP         4.128818e+09  4.435079e+09  5.676029e+10  1.717564e+09
2003 Population  2.250737e+07  3.039616e+06  3.239489e+07  7.478300e+04
     GDP         4.583649e+09  5.746946e+09  6.786383e+10  2.373836e+09
2004 Population  2.349985e+07  3.026939e+06  3.281722e+07  7.833700e+04
     GDP         5.285462e+09  7.314865e+09  8.532500e+10  2.916913e+09
2005 Population  2.439995e+07  3.011487e+06  3.326789e+07  8.122300e+04
     GDP         6.275076e+09  8.158549e+09  1.031982e+11  3.248135e+09
2006 Population  2.518362e+07  2.992547e+06  3.374933e+07  8.337300e+04
     GDP         7.057598e+09  8.992642e+09  1.170273e+11  3.536452e+09
2007 Population  2.587754e+07  2.970017e+06  3.426197e+07  8.487800e+04
     GDP         9.843842e+09  1.070101e+10  1.349771e+11  4.010785e+09
2008 Population  2.652874e+07  2.947314e+06  3.481106e+07  8.561600e+04
     GDP         1.019053e+10  1.288135e+10  1.710007e+11  4.001349e+09
2009 Population  2.720729e+07  2.927519e+06  3.540179e+07  8.547400e+04
     GDP         1.248694e+10  1.204421e+10  1.372110e+11  3.649863e+09
2010 Population  2.796221e+07  2.913021e+06  3.603616e+07  8.441900e+04
     GDP         1.593680e+10  1.192695e+10  1.612073e+11  3.346317e+09
2011 Population  2.880917e+07  2.904780e+06  3.671713e+07  8.232600e+04
     GDP         1.793024e+10  1.289087e+10  2.000131e+11  3.427236e+09
2012 Population  2.972680e+07  2.900247e+06  3.743943e+07  7.931600e+04
     GDP         2.053654e+10  1.231978e+10  2.090474e+11  3.146178e+09
2013 Population  3.068250e+07  2.896652e+06  3.818614e+07  7.590200e+04
     GDP         2.004633e+10  1.278103e+10  2.097035e+11  3.249101e+09
2014 Population  3.162751e+07  2.893654e+06  3.893433e+07           NaN
     GDP         2.005019e+10  1.327796e+10  2.135185e+11           NaN
2015 Population  3.252656e+07  2.889167e+06  3.966652e+07           NaN
     GDP         1.919944e+10  1.145560e+10  1.668386e+11           NaN

country                Angola  Antigua and Barbuda    Arab World  \
year
1960 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1961 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1962 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1963 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1964 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1965 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1966 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1967 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1968 Population           NaN                  NaN  1.155571e+08
     GDP                  NaN                  NaN  2.552596e+10
1969 Population           NaN                  NaN  1.188239e+08
     GDP                  NaN                  NaN  2.817577e+10
1970 Population           NaN                  NaN  1.221282e+08
     GDP                  NaN                  NaN  3.109149e+10
1971 Population           NaN                  NaN  1.254391e+08
     GDP                  NaN                  NaN  3.610721e+10
1972 Population           NaN                  NaN  1.288012e+08
     GDP                  NaN                  NaN  4.296931e+10
1973 Population           NaN                  NaN  1.322990e+08
     GDP                  NaN                  NaN  5.459015e+10
1974 Population           NaN                  NaN  1.360445e+08
     GDP                  NaN                  NaN  1.046016e+11
...                       ...                  ...           ...
2001 Population  1.556279e+07         7.897200e+04  2.872918e+08
     GDP         8.936064e+09         7.737652e+08  7.221506e+11
2002 Population  1.610970e+07         8.003000e+04  2.934026e+08
     GDP         1.249735e+10         8.025293e+08  7.279939e+11
2003 Population  1.669140e+07         8.090400e+04  2.997320e+08
     GDP         1.418895e+10         8.399964e+08  8.218702e+11
2004 Population  1.729550e+07         8.171800e+04  3.063874e+08
     GDP         1.964085e+10         8.983561e+08  9.639180e+11
2005 Population  1.791294e+07         8.256500e+04  3.134309e+08
     GDP         2.823371e+10         9.973741e+08  1.184735e+12
2006 Population  1.854147e+07         8.346700e+04  3.209067e+08
     GDP         4.178948e+10         1.135144e+09  1.404190e+12
2007 Population  1.918391e+07         8.439700e+04  3.287666e+08
     GDP         6.044892e+10         1.289254e+09  1.641666e+12
2008 Population  1.984225e+07         8.535000e+04  3.368865e+08
     GDP         8.417803e+10         1.347350e+09  2.081343e+12
2009 Population  2.052010e+07         8.630000e+04  3.450542e+08
     GDP         7.549238e+10         1.206410e+09  1.798878e+12
2010 Population  2.121995e+07         8.723300e+04  3.531122e+08
     GDP         8.247091e+10         1.135539e+09  2.103825e+12
2011 Population  2.194230e+07         8.815200e+04  3.610318e+08
     GDP         1.041159e+11         1.129918e+09  2.497945e+12
2012 Population  2.268563e+07         8.906900e+04  3.688026e+08
     GDP         1.153984e+11         1.204713e+09  2.773270e+12
2013 Population  2.344820e+07         8.998500e+04  3.765043e+08
     GDP         1.249121e+11         1.200588e+09  2.846994e+12
2014 Population  2.422752e+07         9.090000e+04  3.842226e+08
     GDP         1.267751e+11         1.220976e+09  2.873600e+12
2015 Population  2.502197e+07         9.181800e+04  3.920223e+08
     GDP         1.026431e+11         1.297285e+09  2.530102e+12

country             Argentina       Armenia         Aruba      ...       \
year                                                           ...
1960 Population           NaN           NaN           NaN      ...
     GDP                  NaN           NaN           NaN      ...
1961 Population           NaN           NaN           NaN      ...
     GDP                  NaN           NaN           NaN      ...
1962 Population  2.128768e+07           NaN           NaN      ...
     GDP         2.445060e+10           NaN           NaN      ...
1963 Population  2.162184e+07           NaN           NaN      ...
     GDP         1.827212e+10           NaN           NaN      ...
1964 Population  2.195393e+07           NaN           NaN      ...
     GDP         2.560525e+10           NaN           NaN      ...
1965 Population  2.228339e+07           NaN           NaN      ...
     GDP         2.834471e+10           NaN           NaN      ...
1966 Population  2.260875e+07           NaN           NaN      ...
     GDP         2.863047e+10           NaN           NaN      ...
1967 Population  2.293220e+07           NaN           NaN      ...
     GDP         2.425667e+10           NaN           NaN      ...
1968 Population  2.326127e+07           NaN           NaN      ...
     GDP         2.643686e+10           NaN           NaN      ...
1969 Population  2.360599e+07           NaN           NaN      ...
     GDP         3.125628e+10           NaN           NaN      ...
1970 Population  2.397306e+07           NaN           NaN      ...
     GDP         3.158421e+10           NaN           NaN      ...
1971 Population  2.436644e+07           NaN           NaN      ...
     GDP         3.329320e+10           NaN           NaN      ...
1972 Population  2.478295e+07           NaN           NaN      ...
     GDP         3.473300e+10           NaN           NaN      ...
1973 Population  2.521339e+07           NaN           NaN      ...
     GDP         5.254400e+10           NaN           NaN      ...
1974 Population  2.564450e+07           NaN           NaN      ...
     GDP         7.243678e+10           NaN           NaN      ...
...                       ...           ...           ...      ...
2001 Population  3.747154e+07  3.060036e+06  9.289400e+04      ...
     GDP         2.686968e+11  2.118468e+09  1.920263e+09      ...
2002 Population  3.788944e+07  3.047249e+06  9.499500e+04      ...
     GDP         9.772451e+10  2.376335e+09  1.941095e+09      ...
2003 Population  3.830948e+07  3.036420e+06  9.701500e+04      ...
     GDP         1.275863e+11  2.807061e+09  2.021302e+09      ...
2004 Population  3.872878e+07  3.025982e+06  9.874200e+04      ...
     GDP         1.818731e+11  3.576615e+09  2.228279e+09      ...
2005 Population  3.914549e+07  3.014917e+06  1.000310e+05      ...
     GDP         2.208138e+11  4.900470e+09  2.331006e+09      ...
2006 Population  3.955875e+07  3.002161e+06  1.008300e+05      ...
     GDP         2.626665e+11  6.384452e+09  2.421475e+09      ...
2007 Population  3.996990e+07  2.988117e+06  1.012180e+05      ...
     GDP         3.293175e+11  9.206302e+09  2.623726e+09      ...
2008 Population  4.038186e+07  2.975029e+06  1.013420e+05      ...
     GDP         4.037820e+11  1.166204e+10  2.791961e+09      ...
2009 Population  4.079864e+07  2.966108e+06  1.014160e+05      ...
     GDP         3.766279e+11  8.647937e+09  2.498933e+09      ...
2010 Population  4.122288e+07  2.963496e+06  1.015970e+05      ...
     GDP         4.616402e+11  9.260285e+09  2.467704e+09      ...
2011 Population  4.165562e+07  2.967984e+06  1.019360e+05      ...
     GDP         5.578902e+11  1.014211e+10  2.584464e+09      ...
2012 Population  4.209522e+07  2.978339e+06           NaN      ...
     GDP         6.043785e+11  1.061932e+10           NaN      ...
2013 Population  4.253830e+07  2.992192e+06           NaN      ...
     GDP         6.239320e+11  1.112147e+10           NaN      ...
2014 Population  4.298003e+07  3.006154e+06           NaN      ...
     GDP         5.480549e+11  1.164444e+10           NaN      ...
2015 Population           NaN  3.017712e+06           NaN      ...
     GDP                  NaN  1.056140e+10           NaN      ...

country            Uzbekistan       Vanuatu  Venezuela, RB       Vietnam  \
year
1960 Population           NaN           NaN   8.146845e+06           NaN
     GDP                  NaN           NaN   8.607600e+09           NaN
1961 Population           NaN           NaN   8.461684e+06           NaN
     GDP                  NaN           NaN   8.923367e+09           NaN
1962 Population           NaN           NaN   8.790590e+06           NaN
     GDP                  NaN           NaN   9.873398e+09           NaN
1963 Population           NaN           NaN   9.130346e+06           NaN
     GDP                  NaN           NaN   1.066338e+10           NaN
1964 Population           NaN           NaN   9.476255e+06           NaN
     GDP                  NaN           NaN   9.113581e+09           NaN
1965 Population           NaN           NaN   9.824694e+06           NaN
     GDP                  NaN           NaN   9.602945e+09           NaN
1966 Population           NaN           NaN   1.017514e+07           NaN
     GDP                  NaN           NaN   1.009657e+10           NaN
1967 Population           NaN           NaN   1.052805e+07           NaN
     GDP                  NaN           NaN   1.047278e+10           NaN
1968 Population           NaN           NaN   1.088200e+07           NaN
     GDP                  NaN           NaN   1.147091e+10           NaN
1969 Population           NaN           NaN   1.123549e+07           NaN
     GDP                  NaN           NaN   1.192757e+10           NaN
1970 Population           NaN           NaN   1.158776e+07           NaN
     GDP                  NaN           NaN   1.299312e+10           NaN
1971 Population           NaN           NaN   1.193780e+07           NaN
     GDP                  NaN           NaN   1.447156e+10           NaN
1972 Population           NaN           NaN   1.228643e+07           NaN
     GDP                  NaN           NaN   1.592287e+10           NaN
1973 Population           NaN           NaN   1.263697e+07           NaN
     GDP                  NaN           NaN   1.944593e+10           NaN
1974 Population           NaN           NaN   1.299402e+07           NaN
     GDP                  NaN           NaN   2.908710e+10           NaN
...                       ...           ...            ...           ...
2001 Population  2.496445e+07  1.892880e+05   2.494022e+07  7.862050e+07
     GDP         1.140135e+10  2.579269e+08   1.229097e+11  3.529135e+10
2002 Population  2.527185e+07  1.939570e+05   2.539914e+07  7.953770e+07
     GDP         9.687951e+09  2.626038e+08   9.288959e+10  3.794790e+10
2003 Population  2.556765e+07  1.989630e+05   2.585755e+07  8.046740e+07
     GDP         1.012811e+10  3.144631e+08   8.362219e+10  4.271707e+10
2004 Population  2.586435e+07  2.041440e+05   2.631448e+07  8.143640e+07
     GDP         1.203002e+10  3.649969e+08   1.124514e+11  4.942411e+10
2005 Population  2.616700e+07  2.093750e+05   2.676912e+07  8.239210e+07
     GDP         1.430751e+10  3.949626e+08   1.455135e+11  5.763326e+10
2006 Population  2.648825e+07  2.146350e+05   2.722123e+07  8.331120e+07
     GDP         1.703090e+10  4.393768e+08   1.834775e+11  6.637166e+10
2007 Population  2.686800e+07  2.199560e+05   2.767066e+07  8.421850e+07
     GDP         2.231139e+10  5.264283e+08   2.303642e+11  7.741443e+10
2008 Population  2.730280e+07  2.253350e+05   2.811672e+07  8.511870e+07
     GDP         2.793403e+10  6.079586e+08   3.156002e+11  9.913030e+10
2009 Population  2.776740e+07  2.307820e+05   2.855861e+07  8.602500e+07
     GDP         3.281683e+10  6.100666e+08   3.294190e+11  1.060146e+11
2010 Population  2.856240e+07  2.362990e+05   2.899574e+07  8.693250e+07
     GDP         3.933277e+10  7.008043e+08   3.938015e+11  1.159317e+11
2011 Population  2.933940e+07  2.418760e+05   2.942763e+07  8.786030e+07
     GDP         4.532432e+10  7.921497e+08   3.164822e+11  1.355395e+11
2012 Population  2.977450e+07  2.474980e+05   2.985424e+07  8.880920e+07
     GDP         5.118344e+10  7.817029e+08   3.812862e+11  1.558200e+11
2013 Population  3.024320e+07  2.531650e+05   3.027604e+07  8.975950e+07
     GDP         5.679566e+10  8.017876e+08   3.713366e+11  1.712220e+11
2014 Population  3.075770e+07  2.588830e+05            NaN  9.072890e+07
     GDP         6.313285e+10  8.149546e+08            NaN  1.862047e+11
2015 Population  3.129950e+07           NaN            NaN  9.170380e+07
     GDP         6.673280e+10           NaN            NaN  1.935994e+11

country          Virgin Islands (U.S.)  West Bank and Gaza         World  \
year
1960 Population                32000.0                 NaN  3.035056e+09
     GDP                    24200000.0                 NaN  1.364643e+12
1961 Population                34100.0                 NaN  3.076121e+09
     GDP                    25700000.0                 NaN  1.420440e+12
1962 Population                36300.0                 NaN  3.129064e+09
     GDP                    36900000.0                 NaN  1.524573e+12
1963 Population                38700.0                 NaN  3.193947e+09
     GDP                    41400000.0                 NaN  1.638187e+12
1964 Population                41300.0                 NaN  3.259355e+09
     GDP                    53800000.0                 NaN  1.799675e+12
1965 Population                44000.0                 NaN  3.326054e+09
     GDP                    66500000.0                 NaN  1.959900e+12
1966 Population                47300.0                 NaN  3.395866e+09
     GDP                    84100000.0                 NaN  2.125397e+12
1967 Population                50800.0                 NaN  3.465297e+09
     GDP                   115400000.0                 NaN  2.262923e+12
1968 Population                54600.0                 NaN  3.535512e+09
     GDP                   173800000.0                 NaN  2.440549e+12
1969 Population                58600.0                 NaN  3.609910e+09
     GDP                   211300000.0                 NaN  2.686747e+12
1970 Population                63000.0                 NaN  3.684997e+09
     GDP                   219000000.0                 NaN  2.950656e+12
1971 Population                71000.0                 NaN  3.762290e+09
     GDP                   257000000.0                 NaN  3.259057e+12
1972 Population                76000.0                 NaN  3.839016e+09
     GDP                   307100000.0                 NaN  3.757853e+12
1973 Population                84000.0                 NaN  3.914800e+09
     GDP                   351600000.0                 NaN  4.578523e+12
1974 Population                90000.0                 NaN  3.991194e+09
     GDP                   395400000.0                 NaN  5.279355e+12
...                                ...                 ...           ...
2001 Population                    NaN        2.997784e+06  6.195590e+09
     GDP                           NaN        4.003700e+09  3.313421e+13
2002 Population                    NaN        3.075373e+06  6.274734e+09
     GDP                           NaN        3.555800e+09  3.441805e+13
2003 Population                    NaN        3.154969e+06  6.353976e+09

In [59]:
s.unstack('country')

country           Afghanistan       Albania       Algeria       Andorra  \
year
1960 Population  8.994793e+06           NaN  1.112489e+07           NaN
     GDP         5.377778e+08           NaN  2.723638e+09           NaN
1961 Population  9.164945e+06           NaN  1.140486e+07           NaN
     GDP         5.488889e+08           NaN  2.434767e+09           NaN
1962 Population  9.343772e+06           NaN  1.169015e+07           NaN
     GDP         5.466667e+08           NaN  2.001461e+09           NaN
1963 Population  9.531555e+06           NaN  1.198513e+07           NaN
     GDP         7.511112e+08           NaN  2.703004e+09           NaN
1964 Population  9.728645e+06           NaN  1.229597e+07           NaN
     GDP         8.000000e+08           NaN  2.909340e+09           NaN
1965 Population  9.935358e+06           NaN  1.262695e+07           NaN
     GDP         1.006667e+09           NaN  3.136284e+09           NaN
1966 Population  1.014884e+07           NaN  1.298027e+07           NaN
     GDP         1.400000e+09           NaN  3.039859e+09           NaN
1967 Population  1.036860e+07           NaN  1.335420e+07           NaN
     GDP         1.673333e+09           NaN  3.370870e+09           NaN
1968 Population  1.059979e+07           NaN  1.374438e+07           NaN
     GDP         1.373333e+09           NaN  3.852147e+09           NaN
1969 Population  1.084951e+07           NaN  1.414444e+07           NaN
     GDP         1.408889e+09           NaN  4.257253e+09           NaN
1970 Population  1.112110e+07           NaN  1.455003e+07  2.427900e+04
     GDP         1.748887e+09           NaN  4.863488e+09  7.861762e+07
1971 Population  1.141282e+07           NaN  1.496011e+07  2.556000e+04
     GDP         1.831109e+09           NaN  5.077222e+09  8.940659e+07
1972 Population  1.171690e+07           NaN  1.537710e+07  2.689200e+04
     GDP         1.595555e+09           NaN  6.761786e+09  1.134144e+08
1973 Population  1.202251e+07           NaN  1.580443e+07  2.823100e+04
     GDP         1.733333e+09           NaN  8.715106e+09  1.508416e+08
1974 Population  1.231555e+07           NaN  1.624711e+07  2.951400e+04
     GDP         2.155555e+09           NaN  1.320971e+10  1.865572e+08
...                       ...           ...           ...           ...
2001 Population  2.053116e+07  3.060173e+06  3.159032e+07  6.777000e+04
     GDP         2.461666e+09  4.060759e+09  5.474471e+10  1.484005e+09
2002 Population  2.148708e+07  3.051010e+06  3.199039e+07  7.104600e+04
     GDP         4.128818e+09  4.435079e+09  5.676029e+10  1.717564e+09
2003 Population  2.250737e+07  3.039616e+06  3.239489e+07  7.478300e+04
     GDP         4.583649e+09  5.746946e+09  6.786383e+10  2.373836e+09
2004 Population  2.349985e+07  3.026939e+06  3.281722e+07  7.833700e+04
     GDP         5.285462e+09  7.314865e+09  8.532500e+10  2.916913e+09
2005 Population  2.439995e+07  3.011487e+06  3.326789e+07  8.122300e+04
     GDP         6.275076e+09  8.158549e+09  1.031982e+11  3.248135e+09
2006 Population  2.518362e+07  2.992547e+06  3.374933e+07  8.337300e+04
     GDP         7.057598e+09  8.992642e+09  1.170273e+11  3.536452e+09
2007 Population  2.587754e+07  2.970017e+06  3.426197e+07  8.487800e+04
     GDP         9.843842e+09  1.070101e+10  1.349771e+11  4.010785e+09
2008 Population  2.652874e+07  2.947314e+06  3.481106e+07  8.561600e+04
     GDP         1.019053e+10  1.288135e+10  1.710007e+11  4.001349e+09
2009 Population  2.720729e+07  2.927519e+06  3.540179e+07  8.547400e+04
     GDP         1.248694e+10  1.204421e+10  1.372110e+11  3.649863e+09
2010 Population  2.796221e+07  2.913021e+06  3.603616e+07  8.441900e+04
     GDP         1.593680e+10  1.192695e+10  1.612073e+11  3.346317e+09
2011 Population  2.880917e+07  2.904780e+06  3.671713e+07  8.232600e+04
     GDP         1.793024e+10  1.289087e+10  2.000131e+11  3.427236e+09
2012 Population  2.972680e+07  2.900247e+06  3.743943e+07  7.931600e+04
     GDP         2.053654e+10  1.231978e+10  2.090474e+11  3.146178e+09
2013 Population  3.068250e+07  2.896652e+06  3.818614e+07  7.590200e+04
     GDP         2.004633e+10  1.278103e+10  2.097035e+11  3.249101e+09
2014 Population  3.162751e+07  2.893654e+06  3.893433e+07           NaN
     GDP         2.005019e+10  1.327796e+10  2.135185e+11           NaN
2015 Population  3.252656e+07  2.889167e+06  3.966652e+07           NaN
     GDP         1.919944e+10  1.145560e+10  1.668386e+11           NaN

country                Angola  Antigua and Barbuda    Arab World  \
year
1960 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1961 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1962 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1963 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1964 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1965 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1966 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1967 Population           NaN                  NaN           NaN
     GDP                  NaN                  NaN           NaN
1968 Population           NaN                  NaN  1.155571e+08
     GDP                  NaN                  NaN  2.552596e+10
1969 Population           NaN                  NaN  1.188239e+08
     GDP                  NaN                  NaN  2.817577e+10
1970 Population           NaN                  NaN  1.221282e+08
     GDP                  NaN                  NaN  3.109149e+10
1971 Population           NaN                  NaN  1.254391e+08
     GDP                  NaN                  NaN  3.610721e+10
1972 Population           NaN                  NaN  1.288012e+08
     GDP                  NaN                  NaN  4.296931e+10
1973 Population           NaN                  NaN  1.322990e+08
     GDP                  NaN                  NaN  5.459015e+10
1974 Population           NaN                  NaN  1.360445e+08
     GDP                  NaN                  NaN  1.046016e+11
...                       ...                  ...           ...
2001 Population  1.556279e+07         7.897200e+04  2.872918e+08
     GDP         8.936064e+09         7.737652e+08  7.221506e+11
2002 Population  1.610970e+07         8.003000e+04  2.934026e+08
     GDP         1.249735e+10         8.025293e+08  7.279939e+11
2003 Population  1.669140e+07         8.090400e+04  2.997320e+08
     GDP         1.418895e+10         8.399964e+08  8.218702e+11
2004 Population  1.729550e+07         8.171800e+04  3.063874e+08
     GDP         1.964085e+10         8.983561e+08  9.639180e+11
2005 Population  1.791294e+07         8.256500e+04  3.134309e+08
     GDP         2.823371e+10         9.973741e+08  1.184735e+12
2006 Population  1.854147e+07         8.346700e+04  3.209067e+08
     GDP         4.178948e+10         1.135144e+09  1.404190e+12
2007 Population  1.918391e+07         8.439700e+04  3.287666e+08
     GDP         6.044892e+10         1.289254e+09  1.641666e+12
2008 Population  1.984225e+07         8.535000e+04  3.368865e+08
     GDP         8.417803e+10         1.347350e+09  2.081343e+12
2009 Population  2.052010e+07         8.630000e+04  3.450542e+08
     GDP         7.549238e+10         1.206410e+09  1.798878e+12
2010 Population  2.121995e+07         8.723300e+04  3.531122e+08
     GDP         8.247091e+10         1.135539e+09  2.103825e+12
2011 Population  2.194230e+07         8.815200e+04  3.610318e+08
     GDP         1.041159e+11         1.129918e+09  2.497945e+12
2012 Population  2.268563e+07         8.906900e+04  3.688026e+08
     GDP         1.153984e+11         1.204713e+09  2.773270e+12
2013 Population  2.344820e+07         8.998500e+04  3.765043e+08
     GDP         1.249121e+11         1.200588e+09  2.846994e+12
2014 Population  2.422752e+07         9.090000e+04  3.842226e+08
     GDP         1.267751e+11         1.220976e+09  2.873600e+12
2015 Population  2.502197e+07         9.181800e+04  3.920223e+08
     GDP         1.026431e+11         1.297285e+09  2.530102e+12

country             Argentina       Armenia         Aruba      ...       \
year                                                           ...
1960 Population           NaN           NaN           NaN      ...
     GDP                  NaN           NaN           NaN      ...
1961 Population           NaN           NaN           NaN      ...
     GDP                  NaN           NaN           NaN      ...
1962 Population  2.128768e+07           NaN           NaN      ...
     GDP         2.445060e+10           NaN           NaN      ...
1963 Population  2.162184e+07           NaN           NaN      ...
     GDP         1.827212e+10           NaN           NaN      ...
1964 Population  2.195393e+07           NaN           NaN      ...
     GDP         2.560525e+10           NaN           NaN      ...
1965 Population  2.228339e+07           NaN           NaN      ...
     GDP         2.834471e+10           NaN           NaN      ...
1966 Population  2.260875e+07           NaN           NaN      ...
     GDP         2.863047e+10           NaN           NaN      ...
1967 Population  2.293220e+07           NaN           NaN      ...
     GDP         2.425667e+10           NaN           NaN      ...
1968 Population  2.326127e+07           NaN           NaN      ...
     GDP         2.643686e+10           NaN           NaN      ...
1969 Population  2.360599e+07           NaN           NaN      ...
     GDP         3.125628e+10           NaN           NaN      ...
1970 Population  2.397306e+07           NaN           NaN      ...
     GDP         3.158421e+10           NaN           NaN      ...
1971 Population  2.436644e+07           NaN           NaN      ...
     GDP         3.329320e+10           NaN           NaN      ...
1972 Population  2.478295e+07           NaN           NaN      ...
     GDP         3.473300e+10           NaN           NaN      ...
1973 Population  2.521339e+07           NaN           NaN      ...
     GDP         5.254400e+10           NaN           NaN      ...
1974 Population  2.564450e+07           NaN           NaN      ...
     GDP         7.243678e+10           NaN           NaN      ...
...                       ...           ...           ...      ...
2001 Population  3.747154e+07  3.060036e+06  9.289400e+04      ...
     GDP         2.686968e+11  2.118468e+09  1.920263e+09      ...
2002 Population  3.788944e+07  3.047249e+06  9.499500e+04      ...
     GDP         9.772451e+10  2.376335e+09  1.941095e+09      ...
2003 Population  3.830948e+07  3.036420e+06  9.701500e+04      ...
     GDP         1.275863e+11  2.807061e+09  2.021302e+09      ...
2004 Population  3.872878e+07  3.025982e+06  9.874200e+04      ...
     GDP         1.818731e+11  3.576615e+09  2.228279e+09      ...
2005 Population  3.914549e+07  3.014917e+06  1.000310e+05      ...
     GDP         2.208138e+11  4.900470e+09  2.331006e+09      ...
2006 Population  3.955875e+07  3.002161e+06  1.008300e+05      ...
     GDP         2.626665e+11  6.384452e+09  2.421475e+09      ...
2007 Population  3.996990e+07  2.988117e+06  1.012180e+05      ...
     GDP         3.293175e+11  9.206302e+09  2.623726e+09      ...
2008 Population  4.038186e+07  2.975029e+06  1.013420e+05      ...
     GDP         4.037820e+11  1.166204e+10  2.791961e+09      ...
2009 Population  4.079864e+07  2.966108e+06  1.014160e+05      ...
     GDP         3.766279e+11  8.647937e+09  2.498933e+09      ...
2010 Population  4.122288e+07  2.963496e+06  1.015970e+05      ...
     GDP         4.616402e+11  9.260285e+09  2.467704e+09      ...
2011 Population  4.165562e+07  2.967984e+06  1.019360e+05      ...
     GDP         5.578902e+11  1.014211e+10  2.584464e+09      ...
2012 Population  4.209522e+07  2.978339e+06           NaN      ...
     GDP         6.043785e+11  1.061932e+10           NaN      ...
2013 Population  4.253830e+07  2.992192e+06           NaN      ...
     GDP         6.239320e+11  1.112147e+10           NaN      ...
2014 Population  4.298003e+07  3.006154e+06           NaN      ...
     GDP         5.480549e+11  1.164444e+10           NaN      ...
2015 Population           NaN  3.017712e+06           NaN      ...
     GDP                  NaN  1.056140e+10           NaN      ...

country            Uzbekistan       Vanuatu  Venezuela, RB       Vietnam  \
year
1960 Population           NaN           NaN   8.146845e+06           NaN
     GDP                  NaN           NaN   8.607600e+09           NaN
1961 Population           NaN           NaN   8.461684e+06           NaN
     GDP                  NaN           NaN   8.923367e+09           NaN
1962 Population           NaN           NaN   8.790590e+06           NaN
     GDP                  NaN           NaN   9.873398e+09           NaN
1963 Population           NaN           NaN   9.130346e+06           NaN
     GDP                  NaN           NaN   1.066338e+10           NaN
1964 Population           NaN           NaN   9.476255e+06           NaN
     GDP                  NaN           NaN   9.113581e+09           NaN
1965 Population           NaN           NaN   9.824694e+06           NaN
     GDP                  NaN           NaN   9.602945e+09           NaN
1966 Population           NaN           NaN   1.017514e+07           NaN
     GDP                  NaN           NaN   1.009657e+10           NaN
1967 Population           NaN           NaN   1.052805e+07           NaN
     GDP                  NaN           NaN   1.047278e+10           NaN
1968 Population           NaN           NaN   1.088200e+07           NaN
     GDP                  NaN           NaN   1.147091e+10           NaN
1969 Population           NaN           NaN   1.123549e+07           NaN
     GDP                  NaN           NaN   1.192757e+10           NaN
1970 Population           NaN           NaN   1.158776e+07           NaN
     GDP                  NaN           NaN   1.299312e+10           NaN
1971 Population           NaN           NaN   1.193780e+07           NaN
     GDP                  NaN           NaN   1.447156e+10           NaN
1972 Population           NaN           NaN   1.228643e+07           NaN
     GDP                  NaN           NaN   1.592287e+10           NaN
1973 Population           NaN           NaN   1.263697e+07           NaN
     GDP                  NaN           NaN   1.944593e+10           NaN
1974 Population           NaN           NaN   1.299402e+07           NaN
     GDP                  NaN           NaN   2.908710e+10           NaN
...                       ...           ...            ...           ...
2001 Population  2.496445e+07  1.892880e+05   2.494022e+07  7.862050e+07
     GDP         1.140135e+10  2.579269e+08   1.229097e+11  3.529135e+10
2002 Population  2.527185e+07  1.939570e+05   2.539914e+07  7.953770e+07
     GDP         9.687951e+09  2.626038e+08   9.288959e+10  3.794790e+10
2003 Population  2.556765e+07  1.989630e+05   2.585755e+07  8.046740e+07
     GDP         1.012811e+10  3.144631e+08   8.362219e+10  4.271707e+10
2004 Population  2.586435e+07  2.041440e+05   2.631448e+07  8.143640e+07
     GDP         1.203002e+10  3.649969e+08   1.124514e+11  4.942411e+10
2005 Population  2.616700e+07  2.093750e+05   2.676912e+07  8.239210e+07
     GDP         1.430751e+10  3.949626e+08   1.455135e+11  5.763326e+10
2006 Population  2.648825e+07  2.146350e+05   2.722123e+07  8.331120e+07
     GDP         1.703090e+10  4.393768e+08   1.834775e+11  6.637166e+10
2007 Population  2.686800e+07  2.199560e+05   2.767066e+07  8.421850e+07
     GDP         2.231139e+10  5.264283e+08   2.303642e+11  7.741443e+10
2008 Population  2.730280e+07  2.253350e+05   2.811672e+07  8.511870e+07
     GDP         2.793403e+10  6.079586e+08   3.156002e+11  9.913030e+10
2009 Population  2.776740e+07  2.307820e+05   2.855861e+07  8.602500e+07
     GDP         3.281683e+10  6.100666e+08   3.294190e+11  1.060146e+11
2010 Population  2.856240e+07  2.362990e+05   2.899574e+07  8.693250e+07
     GDP         3.933277e+10  7.008043e+08   3.938015e+11  1.159317e+11
2011 Population  2.933940e+07  2.418760e+05   2.942763e+07  8.786030e+07
     GDP         4.532432e+10  7.921497e+08   3.164822e+11  1.355395e+11
2012 Population  2.977450e+07  2.474980e+05   2.985424e+07  8.880920e+07
     GDP         5.118344e+10  7.817029e+08   3.812862e+11  1.558200e+11
2013 Population  3.024320e+07  2.531650e+05   3.027604e+07  8.975950e+07
     GDP         5.679566e+10  8.017876e+08   3.713366e+11  1.712220e+11
2014 Population  3.075770e+07  2.588830e+05            NaN  9.072890e+07
     GDP         6.313285e+10  8.149546e+08            NaN  1.862047e+11
2015 Population  3.129950e+07           NaN            NaN  9.170380e+07
     GDP         6.673280e+10           NaN            NaN  1.935994e+11

country          Virgin Islands (U.S.)  West Bank and Gaza         World  \
year
1960 Population                32000.0                 NaN  3.035056e+09
     GDP                    24200000.0                 NaN  1.364643e+12
1961 Population                34100.0                 NaN  3.076121e+09
     GDP                    25700000.0                 NaN  1.420440e+12
1962 Population                36300.0                 NaN  3.129064e+09
     GDP                    36900000.0                 NaN  1.524573e+12
1963 Population                38700.0                 NaN  3.193947e+09
     GDP                    41400000.0                 NaN  1.638187e+12
1964 Population                41300.0                 NaN  3.259355e+09
     GDP                    53800000.0                 NaN  1.799675e+12
1965 Population                44000.0                 NaN  3.326054e+09
     GDP                    66500000.0                 NaN  1.959900e+12
1966 Population                47300.0                 NaN  3.395866e+09
     GDP                    84100000.0                 NaN  2.125397e+12
1967 Population                50800.0                 NaN  3.465297e+09
     GDP                   115400000.0                 NaN  2.262923e+12
1968 Population                54600.0                 NaN  3.535512e+09
     GDP                   173800000.0                 NaN  2.440549e+12
1969 Population                58600.0                 NaN  3.609910e+09
     GDP                   211300000.0                 NaN  2.686747e+12
1970 Population                63000.0                 NaN  3.684997e+09
     GDP                   219000000.0                 NaN  2.950656e+12
1971 Population                71000.0                 NaN  3.762290e+09
     GDP                   257000000.0                 NaN  3.259057e+12
1972 Population                76000.0                 NaN  3.839016e+09
     GDP                   307100000.0                 NaN  3.757853e+12
1973 Population                84000.0                 NaN  3.914800e+09
     GDP                   351600000.0                 NaN  4.578523e+12
1974 Population                90000.0                 NaN  3.991194e+09
     GDP                   395400000.0                 NaN  5.279355e+12
...                                ...                 ...           ...
2001 Population                    NaN        2.997784e+06  6.195590e+09
     GDP                           NaN        4.003700e+09  3.313421e+13
2002 Population                    NaN        3.075373e+06  6.274734e+09
     GDP                           NaN        3.555800e+09  3.441805e+13
2003 Population                    NaN        3.154969e+06  6.353976e+09

## 07.105 The .unstack() Method, Part 3

In [60]:
world = pd.read_csv('worldstats.csv', index_col=['country', 'year'])
s = world.stack()
s.head(3)

country     year
Arab World  2015  Population    3.920223e+08
                  GDP           2.530102e+12
            2014  Population    3.842226e+08
dtype: float64

In [64]:
s.unstack(level = ['year', 'country'])

year,2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,...,1969,1968,1967,1966,1965,1964,1963,1962,1961,1960
country,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,Arab World,...,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe
Population,3.920223e+08,3.842226e+08,3.765043e+08,3.688026e+08,3.610318e+08,3.531122e+08,3.450542e+08,3.368865e+08,3.287666e+08,3.209067e+08,...,5.036321e+06,4.874113e+06,4.718612e+06,4.568320e+06,4.422132e+06,4.279561e+06,4.140804e+06,4.006262e+06,3.876638e+06,3.752390e+06
GDP,2.530102e+12,2.873600e+12,2.846994e+12,2.773270e+12,2.497945e+12,2.103825e+12,1.798878e+12,2.081343e+12,1.641666e+12,1.404190e+12,...,1.747999e+09,1.479600e+09,1.397002e+09,1.281750e+09,1.311436e+09,1.217138e+09,1.159512e+09,1.117602e+09,1.096647e+09,1.052990e+09

In [67]:
s = s.unstack('year', fill_value= 0)

In [68]:
s.head(3)

year                            1960          1961          1962  \
country
Afghanistan Population  8.994793e+06  9.164945e+06  9.343772e+06
            GDP         5.377778e+08  5.488889e+08  5.466667e+08
Albania     Population  0.000000e+00  0.000000e+00  0.000000e+00

year                            1963          1964          1965  \
country
Afghanistan Population  9.531555e+06  9.728645e+06  9.935358e+06
            GDP         7.511112e+08  8.000000e+08  1.006667e+09
Albania     Population  0.000000e+00  0.000000e+00  0.000000e+00

year                            1966          1967          1968  \
country
Afghanistan Population  1.014884e+07  1.036860e+07  1.059979e+07
            GDP         1.400000e+09  1.673333e+09  1.373333e+09
Albania     Population  0.000000e+00  0.000000e+00  0.000000e+00

year                            1969      ...               2006  \
country                                   ...
Afghanistan Population  1.084951e+07      ...       2.518362e+07
            GDP         1.408889e+09      ...       7.057598e+09
Albania     Population  0.000000e+00      ...       2.992547e+06

year                            2007          2008          2009  \
country
Afghanistan Population  2.587754e+07  2.652874e+07  2.720729e+07
            GDP         9.843842e+09  1.019053e+10  1.248694e+10
Albania     Population  2.970017e+06  2.947314e+06  2.927519e+06

year                            2010          2011          2012  \
country
Afghanistan Population  2.796221e+07  2.880917e+07  2.972680e+07
            GDP         1.593680e+10  1.793024e+10  2.053654e+10
Albania     Population  2.913021e+06  2.904780e+06  2.900247e+06

year                            2013          2014          2015
country
Afghanistan Population  3.068250e+07  3.162751e+07  3.252656e+07
            GDP         2.004633e+10  2.005019e+10  1.919944e+10
Albania     Population  2.896652e+06  2.893654e+06  2.889167e+06

[3 rows x 56 columns]

## 07.106 The .pivot() Method

In [75]:
sales = pd.read_csv('salesmen.csv', parse_dates = ["Date"])
sales["Salesman"] = sales["Salesman"].astype("category")
sales.head(3)

        Date Salesman  Revenue
0 2016-01-01      Bob     7172
1 2016-01-02      Bob     6362
2 2016-01-03      Bob     5982

In [78]:
sales.pivot(index="Date", columns="Salesman", values="Revenue")

Salesman     Bob  Dave   Jeb  Oscar  Ronald
Date
2016-01-01  7172  1864  4430   5250    2639
2016-01-02  6362  8278  8026   8661    4951
2016-01-03  5982  4226  5188   7075    2703
2016-01-04  7917  3868  3144   2524    4258
2016-01-05  7837  2287   938   2793    7771
2016-01-06  1744  7859  8702   7794    5930
2016-01-07   918  8597  4250   9728    1933
2016-01-08  9863  3092  9719   5263    5709
2016-01-09  8337  1794  5614   7144    4707
2016-01-10  7543  7105   301   7663    8267
2016-01-11  1053  6851  9489   8888    1340
2016-01-12  4362  7147  8719   3092     279
2016-01-13  6812  6160  2349   6139    7540
2016-01-14  9047  7533  7690   5235    4214
2016-01-15  3594  9883  6917   5507    5346
2016-01-16  9800  3622   474   4947    9636
2016-01-17  7215  4565  8963   3325    6058
2016-01-18  7744  8246  2351   2611    3602
2016-01-19  9560  9229  5512   1905     316
2016-01-20  9863  8358  9509   6005    9352
2016-01-21   547  4229  2453   2798    6781
2016-01-22  3505  4417  2875    879    5166
2016-01-23  6969   358  8853   4245    2479
2016-01-24   696  7817  6705   3798    4835
2016-01-25  4302  6354  2882   1143    9750
2016-01-26  9427  7544  1009    871    8738
2016-01-27  7990  2255  4020   2403    1768
2016-01-28  6271  3419  1735   3691    7264
2016-01-29  5804  1378  6477    418    8545
2016-01-30  3285  6456  2253   7776     658
...          ...   ...   ...    ...     ...
2016-12-02  5570  9842   982   5589    5956
2016-12-03  7910  4284  9363   6009    2252
2016-12-04  2869  8389  5980    537    1484
2016-12-05  4013  3089  8999   3895    2867
2016-12-06  1695  9142  4896   3060    5734
2016-12-07  1010  3707  4634    295    5409
2016-12-08  1149  3073  5930   5038    9951
2016-12-09  4432  6820  8592    258      96
2016-12-10   194  3938  3530   9392    8713
2016-12-11  7676  8805  1134    690    5843
2016-12-12  7290  3917  9004   5621    4524
2016-12-13  7253  9168  8031   3284    5193
2016-12-14  9777  2632  3162   2245    8161
2016-12-15  7933  2051  4408   3449    9557
2016-12-16  6742  1148  3020   1763    2318
2016-12-17  5641  8921  6126   1641    9042
2016-12-18  8445  9203  5843   1022    7979
2016-12-19  3065  4255  8136   3366    2734
2016-12-20  3864  7209  2082    364    5757
2016-12-21  4080  1335  5940   3579     359
2016-12-22  5294  6986  4389   6476     825
2016-12-23  5063  5507     9   6495    9210
2016-12-24  1731  5520  8230   9346    4114
2016-12-25  8325  4004  6569   8321    7490
2016-12-26  6664  3211  1572   6172    6170
2016-12-27  2045  2843  6666    835    2981
2016-12-28   100  8888  1243   3073    6129
2016-12-29  4115  9490  3498   6424    7662
2016-12-30  2577  3594  8858   7088    2570
2016-12-31  3845  6830  9717   8408    2619

[366 rows x 5 columns]

## 07.107 The .pivot_table() Method

In [80]:
foods = pd.read_csv('foods.csv')
foods.head(3)

  First Name  Gender      City Frequency     Item  Spend
0      Wanda  Female  Stamford    Weekly   Burger  15.66
1       Eric    Male  Stamford     Daily  Chalupa  10.56
2    Charles    Male  New York     Never    Sushi  42.14

In [92]:
foods.pivot_table(values='Spend', index=['Gender','Item'], columns='City', aggfunc='min').head(3)

City            New York  Philadelphia  Stamford
Gender Item
Female Burger       2.25          1.97      6.24
       Burrito      1.02          1.04      1.18
       Chalupa      1.96          9.35      9.09

In [93]:
pd.pivot_table(data = foods, values='Spend', index=['Gender','Item'], columns='City', aggfunc='min').head(3)

City            New York  Philadelphia  Stamford
Gender Item
Female Burger       2.25          1.97      6.24
       Burrito      1.02          1.04      1.18
       Chalupa      1.96          9.35      9.09

## 07.108 The pd.melt() Method

In [95]:
sales = pd.read_csv('quarters.csv')
sales

  Salesman      Q1      Q2      Q3      Q4
0    Boris  602908  233879  354479   32704
1      Bob   43790  514863  297151  544493
2    Tommy  392668  113579  430882  247231
3   Travis  834663  266785  749238  570524
4   Donald  580935  411379  110390  651572
5      Ted  656644   70803  375948  321388
6      Jeb  486141  600753  742716  404995
7    Stacy  479662  742806  770712    2501
8   Morgan  992673  879183   37945  293710

In [98]:
pd.melt(sales, id_vars='Salesman', var_name='Quarter', value_name='Revenue')

   Salesman Quarter  Revenue
0     Boris      Q1   602908
1       Bob      Q1    43790
2     Tommy      Q1   392668
3    Travis      Q1   834663
4    Donald      Q1   580935
5       Ted      Q1   656644
6       Jeb      Q1   486141
7     Stacy      Q1   479662
8    Morgan      Q1   992673
9     Boris      Q2   233879
10      Bob      Q2   514863
11    Tommy      Q2   113579
12   Travis      Q2   266785
13   Donald      Q2   411379
14      Ted      Q2    70803
15      Jeb      Q2   600753
16    Stacy      Q2   742806
17   Morgan      Q2   879183
18    Boris      Q3   354479
19      Bob      Q3   297151
20    Tommy      Q3   430882
21   Travis      Q3   749238
22   Donald      Q3   110390
23      Ted      Q3   375948
24      Jeb      Q3   742716
25    Stacy      Q3   770712
26   Morgan      Q3    37945
27    Boris      Q4    32704
28      Bob      Q4   544493
29    Tommy      Q4   247231
30   Travis      Q4   570524
31   Donald      Q4   651572
32      Ted      Q4   321388
33      Jeb      Q4   404995
34    Stacy      Q4     2501
35   Morgan      Q4   293710