## 08.109 Intro to the Groupby Module

In [1]:
import pandas as pd

In [4]:
fortune = pd.read_csv('fortune1000.csv', index_col = "Rank")
sectors = fortune.groupby(by = "Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [7]:
type(fortune)

pandas.core.frame.DataFrame

In [8]:
type(sectors)

pandas.core.groupby.DataFrameGroupBy

In [11]:
sectors

## 08.110 First Operations with groupby Object

In [12]:
fortune = pd.read_csv('fortune1000.csv', index_col = "Rank")
sectors = fortune.groupby(by = "Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [14]:
len(fortune)

1000

In [13]:
len(sectors)

21

In [15]:
fortune['Sector'].nunique()

21

In [18]:
sectors.size()

Sector
Aerospace & Defense              20
Apparel                          15
Business Services                51
Chemicals                        30
Energy                          122
Engineering & Construction       26
Financials                      139
Food and Drug Stores             15
Food, Beverages & Tobacco        43
Health Care                      75
Hotels, Resturants & Leisure     25
Household Products               28
Industrials                      46
Materials                        43
Media                            25
Motor Vehicles & Parts           24
Retailing                        80
Technology                      102
Telecommunications               15
Transportation                   36
Wholesalers                      40
dtype: int64

In [19]:
fortune['Sector'].value_counts()

Financials                      139
Energy                          122
Technology                      102
Retailing                        80
Health Care                      75
Business Services                51
Industrials                      46
Food, Beverages & Tobacco        43
Materials                        43
Wholesalers                      40
Transportation                   36
Chemicals                        30
Household Products               28
Engineering & Construction       26
Media                            25
Hotels, Resturants & Leisure     25
Motor Vehicles & Parts           24
Aerospace & Defense              20
Telecommunications               15
Apparel                          15
Food and Drug Stores             15
Name: Sector, dtype: int64

In [23]:
fortune.tail(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
997,Portland General Electric,Energy,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
999,Wendy’s,"Hotels, Resturants & Leisure",Food Services,"Dublin, OH",1896,161,21200
1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895,46,5480

In [24]:
sectors.last()

,Company,Industry,Location,Revenue,Profits,Employees
Sector,,,,,,
Aerospace & Defense,Delta Tucker Holdings,Aerospace and Defense,"McLean, VA",1923,-133,12000
Apparel,Guess,Apparel,"Los Angeles, CA",2204,82,13500
Business Services,DeVry Education Group,Education,"Downers Grove, IL",1910,140,11770
Chemicals,H.B. Fuller,Chemicals,"St. Paul, MN",2084,87,4425
Energy,Portland General Electric,Utilities: Gas and Electric,"Portland, OR",1898,172,2646
Engineering & Construction,MDC Holdings,Homebuilders,"Denver, CO",1909,66,1225
Financials,New York Community Bancorp,Commercial Banks,"Westbury, NY",1902,-47,3448
Food and Drug Stores,Fred’s,Food and Drug Stores,"Memphis, TN",2151,-7,7103
"Food, Beverages & Tobacco",Alliance One International,Tobacco,"Morrisville, NC",2066,-15,6835
Health Care,Providence Service,Health Care: Pharmacy and Other Services,"Tucson, AZ",1987,84,9072
"Hotels, Resturants & Leisure",Wendy’s,Food Services,"Dublin, OH",1896,161,21200
Household Products,Revlon,Household and Personal Products,"New York, NY",1914,56,5700
Industrials,Briggs & Stratton,Industrial Machinery,"Wauwatosa, WI",1895,46,5480
Materials,Schnitzer Steel Industries,Metals,"Portland, OR",1924,-197,2955
Media,Cenveo,"Publishing, Printing","Stamford, CT",1921,-31,7300
Motor Vehicles & Parts,Allison Transmission Holdings,Motor Vehicles and Parts,"Indianaoplis, IN",1986,182,2700
Retailing,99 Cents Only Stores,Specialty Retailers: Other,"Commerce, CA",1999,-232,18200
Technology,F5 Networks,Network and Other Communications Equipment,"Seattle, WA",1920,365,4178
Telecommunications,Equinix,Telecommunications,"Redwood City, CA",2726,188,5042
Transportation,Roadrunner Transportation Systems,Transportation and Logistics,"Cudahy, WI",1995,48,4502
Wholesalers,BlueLinx Holdings,Wholesalers: Diversified,"Atlanta, GA",1917,-12,1600

In [27]:
fortune.loc[45]

Company        United Technologies
Sector         Aerospace & Defense
Industry     Aerospace and Defense
Location            Farmington, CT
Revenue                      61047
Profits                       7608
Employees                   197200
Name: 45, dtype: object

In [25]:
sectors.groups

{'Aerospace & Defense': Int64Index([ 24,  45,  60,  88, 118, 120, 209, 245, 282, 378, 389, 490, 560,
             605, 785, 788, 836, 903, 958, 987],
            dtype='int64', name='Rank'),
 'Apparel': Int64Index([91, 231, 340, 354, 448, 547, 575, 597, 683, 695, 726, 794, 877,
             882, 917],
            dtype='int64', name='Rank'),
 'Business Services': Int64Index([144, 186, 199, 204, 221, 248, 249, 294, 307, 312, 355, 392, 404,
             440, 467, 468, 481, 485, 492, 503, 545, 626, 635, 652, 677, 694,
             714, 729, 734, 735, 737, 744, 767, 776, 777, 783, 791, 792, 796,
             801, 803, 816, 819, 820, 869, 870, 886, 939, 951, 952, 993],
            dtype='int64', name='Rank'),
 'Chemicals': Int64Index([ 56, 101, 182, 189, 206, 253, 262, 277, 288, 296, 316, 538, 549,
             555, 566, 580, 613, 624, 654, 668, 717, 720, 724, 758, 761, 829,
             865, 898, 934, 949],
            dtype='int64', name='Rank'),
 'Energy': Int64Index([  2,  14,  30,  32,  42,  65,  90,  95,  98, 104,
             ...
             953, 955, 962, 966, 980, 981, 983, 995, 997, 997],
            dtype='int64', name='Rank', length=122),
 'Engineering & Construction': Int64Index([155, 156, 235, 260, 301, 314, 352, 381, 433, 478, 498, 501, 516,
             572, 576, 640, 719, 738, 822, 863, 874, 892, 929, 963, 985, 994],
            dtype='int64', name='Rank'),
 'Financials': Int64Index([  4,  16,  23,  26,  27,  29,  35,  40,  43,  49,
             ...
             920, 923, 925, 926, 936, 938, 959, 976, 988, 996],
            dtype='int64', name='Rank', length=139),
 'Food and Drug Stores': Int64Index([7, 17, 19, 87, 107, 160, 181, 595, 614, 631, 669, 756, 809, 849,
             928],
            dtype='int64', name='Rank'),
 'Food, Beverages & Tobacco': Int64Index([ 41,  44,  62,  66,  84,  94, 106, 149, 153, 161, 176, 207, 215,
             242, 266, 304, 336, 337, 362, 397, 413, 429, 452, 456, 460, 535,
             542, 567, 574, 587, 608, 615, 636, 664, 686, 702, 770, 787, 795,
             804, 889, 902, 954],
            dtype='int64', name='Rank'),
 'Health Care': Int64Index([  5,   6,  12,  21,  22,  33,  39,  46,  52,  55,  63,  72,  79,
              86, 123, 124, 125, 130, 138, 140, 141, 168, 172, 200, 201, 202,
             263, 268, 278, 286, 287, 290, 291, 305, 325, 358, 359, 372, 420,
             430, 431, 447, 457, 465, 469, 515, 527, 537, 553, 559, 583, 618,
             629, 661, 684, 693, 697, 708, 746, 749, 766, 775, 790, 799, 815,
             818, 845, 868, 881, 883, 935, 960, 965, 977, 978],
            dtype='int64', name='Rank'),
 'Hotels, Resturants & Leisure': Int64Index([109, 146, 195, 218, 241, 254, 309, 371, 444, 466, 534, 546, 557,
             562, 585, 731, 763, 764, 779, 797, 895, 915, 918, 941, 999],
            dtype='int64', name='Rank'),
 'Household Products': Int64Index([ 34, 151, 174, 256, 261, 328, 338, 345, 370, 434, 441, 450, 455,
             533, 550, 554, 601, 665, 699, 716, 856, 890, 900, 907, 932, 950,
             967, 992],
            dtype='int64', name='Rank'),
 'Industrials': Int64Index([  11,   59,   75,   93,   97,  128,  134,  148,  211,  224,  360,
              377,  396,  412,  419,  539,  544,  596,  622,  623,  630,  645,
              655,  658,  666,  674,  690,  757,  782,  789,  806,  813,  823,
              831,  832,  835,  841,  847,  866,  867,  873,  887,  942,  947,
              964, 1000],
            dtype='int64', name='Rank'),
 'Materials': Int64Index([126, 127, 170, 244, 251, 303, 321, 341, 356, 373, 375, 383, 417,
             418, 426, 435, 446, 480, 489, 514, 518, 577, 586, 616, 617, 620,
             625, 628, 637, 639, 641, 660, 667, 687, 691, 751, 774, 793, 857,
             885, 911, 982, 986],
            dtype='int64', name='Rank'),
 'Media': Int64Index([ 53,  96,  99, 203, 213, 255, 327, 366, 406, 414, 525, 530, 681,
             705, 707, 722, 741, 752, 759, 762, 821, 913, 968, 969, 989],
            dtype='int64', name='Rank'),
 'Motor Vehicles & Parts': Int64Index([  8,   9,  70, 147, 154, 169, 281, 310, 334, 339, 424, 428, 470,
             588, 591, 604, 647, 670, 718, 739, 811, 957, 961, 979],
            dtype='int64', name='Rank'),
 'Retailing': Int64Index([  1,  15,  28,  38,  47,  71,  89, 103, 111, 132, 136, 139, 143,
             145, 177, 180, 191, 196, 197, 228, 234, 237, 238, 240, 258, 267,
             269, 280, 293, 297, 299, 302, 330, 342, 346, 361, 365, 374, 379,
             380, 393, 415, 427, 439, 495, 500, 502, 511, 512, 517, 523, 582,
             592, 602, 607, 610, 621, 643, 644, 648, 657, 675, 689, 721, 748,
             771, 773, 807, 812, 824, 825, 827, 840, 876, 894, 899, 922, 937,
             940, 973],
            dtype='int64', name='Rank'),
 'Technology': Int64Index([  3,  18,  20,  25,  31,  36,  51,  54,  77, 110,
             ...
             931, 943, 944, 946, 956, 970, 971, 975, 984, 990],
            dtype='int64', name='Rank', length=102),
 'Telecommunications': Int64Index([10, 13, 37, 116, 159, 187, 292, 333, 399, 443, 461, 496, 526, 619,
             786],
            dtype='int64', name='Rank'),
 'Transportation': Int64Index([ 48,  58,  67,  68,  80, 129, 142, 208, 239, 270, 353, 390, 395,
             405, 407, 416, 432, 459, 521, 528, 570, 578, 642, 672, 709, 713,
             740, 800, 814, 858, 884, 930, 933, 945, 972, 974],
            dtype='int64', name='Rank'),
 'Wholesalers': Int64Index([ 57,  64,  92, 102, 108, 119, 122, 167, 183, 185, 212, 276, 285,
             315, 317, 320, 323, 335, 351, 357, 369, 391, 423, 463, 474, 477,
             484, 564, 581, 599, 627, 653, 685, 727, 747, 780, 808, 837, 875,
             991],
            dtype='int64', name='Rank')}

## 08.111 Retrieve A Group with the get.group() Method

In [28]:
fortune = pd.read_csv('fortune1000.csv', index_col = "Rank")
sectors = fortune.groupby(by = "Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [31]:
sectors.get_group('Energy')
sectors.get_group('Technology')
sectors.get_group('Apparel')

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
231,VF,Apparel,Apparel,"Greensboro, NC",12377,1232,64000
340,PVH,Apparel,Apparel,"New York, NY",8020,572,26200
354,Ralph Lauren,Apparel,Apparel,"New York, NY",7620,702,20000
448,Hanesbrands,Apparel,Apparel,"Winston-Salem, NC",5732,429,65300
547,Levi Strauss,Apparel,Apparel,"San Francisco, CA",4495,209,12500
575,Coach,Apparel,Apparel,"New York, NY",4192,402,12950
597,Under Armour,Apparel,Apparel,"Baltimore, MD",3963,233,9600
683,Fossil Group,Apparel,Apparel,"Richardson, TX",3229,221,15100
695,Skechers U.S.A.,Apparel,Apparel,"Manhattan Beach, CA",3159,232,6400
726,Carter’s,Apparel,Apparel,"Atlanta, GA",3014,238,16800
794,Wolverine World Wide,Apparel,Apparel,"Rockford, MI",2692,123,6550
877,G-III Apparel Group,Apparel,Apparel,"New York, NY",2344,114,8919
882,Columbia Sportswear,Apparel,Apparel,"Portland, OR",2326,174,5978
917,Guess,Apparel,Apparel,"Los Angeles, CA",2204,82,13500

In [33]:
fortune[fortune["Sector"] == 'Apparel']

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
91,Nike,Apparel,Apparel,"Beaverton, OR",30601,3273,62600
231,VF,Apparel,Apparel,"Greensboro, NC",12377,1232,64000
340,PVH,Apparel,Apparel,"New York, NY",8020,572,26200
354,Ralph Lauren,Apparel,Apparel,"New York, NY",7620,702,20000
448,Hanesbrands,Apparel,Apparel,"Winston-Salem, NC",5732,429,65300
547,Levi Strauss,Apparel,Apparel,"San Francisco, CA",4495,209,12500
575,Coach,Apparel,Apparel,"New York, NY",4192,402,12950
597,Under Armour,Apparel,Apparel,"Baltimore, MD",3963,233,9600
683,Fossil Group,Apparel,Apparel,"Richardson, TX",3229,221,15100
695,Skechers U.S.A.,Apparel,Apparel,"Manhattan Beach, CA",3159,232,6400
726,Carter’s,Apparel,Apparel,"Atlanta, GA",3014,238,16800
794,Wolverine World Wide,Apparel,Apparel,"Rockford, MI",2692,123,6550
877,G-III Apparel Group,Apparel,Apparel,"New York, NY",2344,114,8919
882,Columbia Sportswear,Apparel,Apparel,"Portland, OR",2326,174,5978
917,Guess,Apparel,Apparel,"Los Angeles, CA",2204,82,13500

## 08.112 Methods on the Groupby Object and DataFrame Columns

In [34]:
fortune = pd.read_csv('fortune1000.csv', index_col = "Rank")
sectors = fortune.groupby(by = "Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [38]:
sectors.get_group('Apparel')['Profits'].sum()

8236

In [39]:
sectors.max()
sectors.min()
sectors.sum()
sectors.mean()

                                   Revenue      Profits     Employees
Sector
Aerospace & Defense           17897.000000  1437.100000  48402.850000
Apparel                        6397.866667   549.066667  23093.133333
Business Services              5337.156863   553.470588  26687.254902
Chemicals                      8129.900000   754.266667  15455.033333
Energy                        12441.057377  -602.024590   9745.303279
Engineering & Construction     5922.423077   204.000000  15642.615385
Financials                    15950.784173  1872.007194  24172.287770
Food and Drug Stores          32251.266667  1117.266667  93026.533333
Food, Beverages & Tobacco     12929.465116  1195.744186  28177.488372
Health Care                   21529.426667  1414.853333  35710.520000
Hotels, Resturants & Leisure   6781.840000   827.880000  99369.800000
Household Products             8383.464286   515.285714  23072.785714
Industrials                   10816.978261   451.391304  33591.934783
Materials                      6026.627907   102.976744  14840.069767
Media                          8830.560000   973.880000  22012.560000
Motor Vehicles & Parts        20105.833333  1079.083333  45106.666667
Retailing                     18313.450000   597.875000  77845.362500
Technology                    13505.882353  1769.343137  35087.735294
Telecommunications            30788.933333  3242.466667  55497.866667
Transportation                11347.444444  1226.916667  42688.694444
Wholesalers                   11120.000000   205.825000  13139.925000

In [40]:
sectors.get_group('Engineering & Construction')

,Company,Employees,Industry,Location,Profits,Revenue
Rank,,,,,,
155,Fluor,38758,"Engineering, Construction","Irving, TX",413,18114
156,AECOM,92000,"Engineering, Construction","Los Angeles, CA",-155,17990
235,Jacobs Engineering Group,56950,"Engineering, Construction","Pasadena, CA",303,12115
260,D.R. Horton,6230,Homebuilders,"Fort Worth, TX",751,10824
301,Lennar,7749,Homebuilders,"Miami, FL",803,9474
314,Peter Kiewit Sons’,22000,"Engineering, Construction","Omaha, NE",251,8992
352,Quanta Services,24500,"Engineering, Construction","Houston, TX",311,7632
381,EMCOR Group,29000,"Engineering, Construction","Norwalk, CT",172,6723
433,PulteGroup,4542,Homebuilders,"Atlanta, GA",494,5982
478,CH2M Hill,22000,"Engineering, Construction","Englewood, CO",80,5362
498,NVR,4300,Homebuilders,"Reston, VA",383,5170
501,KBR,22000,"Engineering, Construction","Houston, TX",203,5096
516,Tutor Perini,10626,"Engineering, Construction","Sylmar, CA",45,4921
572,MasTec,15900,"Engineering, Construction","Coral Gables, FL",-79,4208
576,Toll Brothers,3900,Homebuilders,"Horsham, PA",363,4171
640,CalAtlantic Group,2855,Homebuilders,"Irvine, CA",214,3540
719,KB Home,1680,Homebuilders,"Los Angeles, CA",85,3032
738,Taylor Morrison Home,1600,Homebuilders,"Scottsdale, AZ",61,2977
822,Meritage Homes,1409,Homebuilders,"Scottsdale, AZ",129,2580
863,TRI Pointe Group,1036,Homebuilders,"Irvine, CA",206,2401
874,Granite Construction,3200,"Engineering, Construction","Watsonville, CA",61,2371
892,Tetra Tech,13000,"Engineering, Construction","Pasadena, CA",39,2299
929,Hovnanian Enterprises,2078,Homebuilders,"Red Bank, NJ",-16,2149
963,Dycom Industries,11159,"Engineering, Construction","Palm Beach Gardens, FL",84,2022
985,Primoris Services,7011,"Engineering, Construction","Dallas, TX",37,1929
994,MDC Holdings,1225,Homebuilders,"Denver, CO",66,1909

In [47]:
sectors['Revenue'].sum()
sectors['Employees'].sum()
sectors['Profits'].max()
sectors['Profits'].min()
sectors['Employees'].mean()

sectors[['Revenue', 'Profits']].sum()

                              Revenue  Profits
Sector
Aerospace & Defense            357940    28742
Apparel                         95968     8236
Business Services              272195    28227
Chemicals                      243897    22628
Energy                        1517809   -73447
Engineering & Construction     153983     5304
Financials                    2217159   260209
Food and Drug Stores           483769    16759
Food, Beverages & Tobacco      555967    51417
Health Care                   1614707   106114
Hotels, Resturants & Leisure   169546    20697
Household Products             234737    14428
Industrials                    497581    20764
Materials                      259145     4428
Media                          220764    24347
Motor Vehicles & Parts         482540    25898
Retailing                     1465076    47830
Technology                    1377600   180473
Telecommunications             461834    48637
Transportation                 408508    44169
Wholesalers                    444800     8233

## 08.113 Grouping by Multiple Columns

In [49]:
fortune = pd.read_csv('fortune1000.csv', index_col = "Rank")
sectors = fortune.groupby(by = ["Sector", "Industry"])
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [53]:
sectors.size()
sectors.sum()
sectors['Revenue'].sum()
sectors['Employees'].mean()

Sector                      Industry
Aerospace & Defense         Aerospace and Defense                              48402.850000
Apparel                     Apparel                                            23093.133333
Business Services           Advertising, marketing                             62050.000000
                            Diversified Outsourcing Services                   50595.000000
                            Education                                          15585.000000
                            Financial Data Services                            13943.473684
                            Miscellaneous                                      12573.333333
                            Temporary Help                                     12004.000000
                            Waste Management                                   23839.800000
Chemicals                   Chemicals                                          15455.033333
Energy                      Energy                                              5005.142857
                            Mining, Crude-Oil Production                        5325.357143
                            Miscellaneous                                       6700.000000
                            Oil and Gas Equipment, Services                    25088.333333
                            Petroleum Refining                                 14404.705882
                            Pipelines                                           6011.750000
                            Utilities: Gas and Electric                        10249.487805
Engineering & Construction  Engineering, Construction                          26293.142857
                            Homebuilders                                        3217.000000
Financials                  Commercial Banks                                   54965.142857
                            Diversified Financials                             21940.933333
                            Insurance: Life, Health (Mutual)                    5880.100000
                            Insurance: Life, Health (stock)                    11235.166667
                            Insurance: Property and Casualty (Mutual)          19021.142857
                            Insurance: Property and Casualty (Stock)           28361.535714
                            Real estate                                        10705.266667
                            Securities                                          7940.333333
Food and Drug Stores        Food and Drug Stores                               93026.533333
Food, Beverages & Tobacco   Beverages                                          22123.000000
                            Food Consumer Products                             33271.950000
                                                                                  ...
Materials                   Metals                                             13825.642857
                            Miscellaneous                                         52.000000
                            Packaging, Containers                              20840.375000
Media                       Entertainment                                      21309.111111
                            Publishing, Printing                               23821.428571
Motor Vehicles & Parts      Motor Vehicles and Parts                           45106.666667
Retailing                   Automotive Retailing, Services                     17497.400000
                            General Merchandisers                             340810.000000
                            Specialty Retailers: Apparel                       42807.944444
                            Specialty Retailers: Other                         44619.333333
Technology                  Computer Peripherals                               43814.750000
                            Computer Software                                  27771.142857
                            Computers, Office Equipment                        66869.285714
                            Information Technology Services                    75818.384615
                            Internet Services and Retailing                    28723.666667
                            Network and Other Communications Equipment         21379.285714
                            Scientific,Photographic and Control Equipment      19291.750000
                            Semiconductors and Other Electronic Components     26065.391304
Telecommunications          Telecommunications                                 55497.866667
Transportation              Airlines                                           43511.222222
                            Mail, Package, and Freight Delivery               332137.500000
                            Miscellaneous                                       4200.000000
                            Railroads                                          24368.800000
                            Transportation Equipment                           11945.200000
                            Transportation and Logistics                       24938.200000
                            Trucking, Truck Leasing                            18939.555556
Wholesalers                 Miscellaneous                                       9200.000000
                            Wholesalers: Diversified                            9353.240000
                            Wholesalers: Electronics and Office Equipment      20832.625000
                            Wholesalers: Food and Grocery                      19317.500000
Name: Employees, dtype: float64

## 08.114 The .agg() Method

In [54]:
fortune = pd.read_csv('fortune1000.csv', index_col = "Rank")
sectors = fortune.groupby(by = "Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [57]:
sectors.agg({'Revenue': ['sum', 'mean'],
             'Profits': 'sum',
             'Employees': 'mean'})

                              Revenue                   Employees Profits
                                  sum          mean          mean     sum
Sector
Aerospace & Defense            357940  17897.000000  48402.850000   28742
Apparel                         95968   6397.866667  23093.133333    8236
Business Services              272195   5337.156863  26687.254902   28227
Chemicals                      243897   8129.900000  15455.033333   22628
Energy                        1517809  12441.057377   9745.303279  -73447
Engineering & Construction     153983   5922.423077  15642.615385    5304
Financials                    2217159  15950.784173  24172.287770  260209
Food and Drug Stores           483769  32251.266667  93026.533333   16759
Food, Beverages & Tobacco      555967  12929.465116  28177.488372   51417
Health Care                   1614707  21529.426667  35710.520000  106114
Hotels, Resturants & Leisure   169546   6781.840000  99369.800000   20697
Household Products             234737   8383.464286  23072.785714   14428
Industrials                    497581  10816.978261  33591.934783   20764
Materials                      259145   6026.627907  14840.069767    4428
Media                          220764   8830.560000  22012.560000   24347
Motor Vehicles & Parts         482540  20105.833333  45106.666667   25898
Retailing                     1465076  18313.450000  77845.362500   47830
Technology                    1377600  13505.882353  35087.735294  180473
Telecommunications             461834  30788.933333  55497.866667   48637
Transportation                 408508  11347.444444  42688.694444   44169
Wholesalers                    444800  11120.000000  13139.925000    8233

In [56]:
sectors.agg(['size', 'sum', 'mean'])

                             Revenue                        Profits          \
                                size      sum          mean    size     sum
Sector
Aerospace & Defense               20   357940  17897.000000      20   28742
Apparel                           15    95968   6397.866667      15    8236
Business Services                 51   272195   5337.156863      51   28227
Chemicals                         30   243897   8129.900000      30   22628
Energy                           122  1517809  12441.057377     122  -73447
Engineering & Construction        26   153983   5922.423077      26    5304
Financials                       139  2217159  15950.784173     139  260209
Food and Drug Stores              15   483769  32251.266667      15   16759
Food, Beverages & Tobacco         43   555967  12929.465116      43   51417
Health Care                       75  1614707  21529.426667      75  106114
Hotels, Resturants & Leisure      25   169546   6781.840000      25   20697
Household Products                28   234737   8383.464286      28   14428
Industrials                       46   497581  10816.978261      46   20764
Materials                         43   259145   6026.627907      43    4428
Media                             25   220764   8830.560000      25   24347
Motor Vehicles & Parts            24   482540  20105.833333      24   25898
Retailing                         80  1465076  18313.450000      80   47830
Technology                       102  1377600  13505.882353     102  180473
Telecommunications                15   461834  30788.933333      15   48637
Transportation                    36   408508  11347.444444      36   44169
Wholesalers                       40   444800  11120.000000      40    8233

                                          Employees
                                     mean      size      sum          mean
Sector
Aerospace & Defense           1437.100000        20   968057  48402.850000
Apparel                        549.066667        15   346397  23093.133333
Business Services              553.470588        51  1361050  26687.254902
Chemicals                      754.266667        30   463651  15455.033333
Energy                        -602.024590       122  1188927   9745.303279
Engineering & Construction     204.000000        26   406708  15642.615385
Financials                    1872.007194       139  3359948  24172.287770
Food and Drug Stores          1117.266667        15  1395398  93026.533333
Food, Beverages & Tobacco     1195.744186        43  1211632  28177.488372
Health Care                   1414.853333        75  2678289  35710.520000
Hotels, Resturants & Leisure   827.880000        25  2484245  99369.800000
Household Products             515.285714        28   646038  23072.785714
Industrials                    451.391304        46  1545229  33591.934783
Materials                      102.976744        43   638123  14840.069767
Media                          973.880000        25   550314  22012.560000
Motor Vehicles & Parts        1079.083333        24  1082560  45106.666667
Retailing                      597.875000        80  6227629  77845.362500
Technology                    1769.343137       102  3578949  35087.735294
Telecommunications            3242.466667        15   832468  55497.866667
Transportation                1226.916667        36  1536793  42688.694444
Wholesalers                    205.825000        40   525597  13139.925000

## 08.115 Iterating through Groups

In [58]:
fortune = pd.read_csv('fortune1000.csv', index_col = "Rank")
sectors = fortune.groupby(by = "Sector")
fortune.head(3)

,Company,Sector,Industry,Location,Revenue,Profits,Employees
Rank,,,,,,,
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130,14694,2300000
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204,16150,75600
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715,53394,110000

In [61]:
df = pd.DataFrame(columns = fortune.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [62]:
for sector, data in sectors:
    highest_revenue_company_in_group = data.nlargest(1, 'Revenue')
    df = df.append(highest_revenue_company_in_group)

In [63]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
24,Boeing,Aerospace & Defense,Aerospace and Defense,"Chicago, IL",96114.0,5176.0,161400.0
91,Nike,Apparel,Apparel,"Beaverton, OR",30601.0,3273.0,62600.0
144,ManpowerGroup,Business Services,Temporary Help,"Milwaukee, WI",19330.0,419.0,27000.0
56,Dow Chemical,Chemicals,Chemicals,"Midland, MI",48778.0,7685.0,49495.0
2,Exxon Mobil,Energy,Petroleum Refining,"Irving, TX",246204.0,16150.0,75600.0
155,Fluor,Engineering & Construction,"Engineering, Construction","Irving, TX",18114.0,413.0,38758.0
4,Berkshire Hathaway,Financials,Insurance: Property and Casualty (Stock),"Omaha, NE",210821.0,24083.0,331000.0
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290.0,5237.0,199000.0
41,Archer Daniels Midland,"Food, Beverages & Tobacco",Food Production,"Chicago, IL",67702.0,1849.0,32300.0
5,McKesson,Health Care,Wholesalers: Health Care,"San Francisco, CA",181241.0,1476.0,70400.0
109,McDonald’s,"Hotels, Resturants & Leisure",Food Services,"Oak Brook, IL",25413.0,4529.0,420000.0
34,Procter & Gamble,Household Products,Household and Personal Products,"Cincinnati, OH",78756.0,7036.0,110000.0
11,General Electric,Industrials,Industrial Machinery,"Fairfield, CT",140389.0,-6126.0,333000.0
126,Alcoa,Materials,Metals,"New York, NY",22534.0,-322.0,60000.0
53,Disney,Media,Entertainment,"Burbank, CA",52465.0,8382.0,185000.0
8,General Motors,Motor Vehicles & Parts,Motor Vehicles and Parts,"Detroit, MI",152356.0,9687.0,215000.0
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130.0,14694.0,2300000.0
3,Apple,Technology,"Computers, Office Equipment","Cupertino, CA",233715.0,53394.0,110000.0
10,AT&T,Telecommunications,Telecommunications,"Dallas, TX",146801.0,13345.0,281450.0
48,UPS,Transportation,"Mail, Package, and Freight Delivery","Atlanta, GA",58363.0,4844.0,341240.0
57,Sysco,Wholesalers,Wholesalers: Food and Grocery,"Houston, TX",48681.0,687.0,51700.0

In [64]:
cities = fortune.groupby('Location')
df = pd.DataFrame(columns = fortune.columns)
df

Empty DataFrame
Columns: [Company, Sector, Industry, Location, Revenue, Profits, Employees]
Index: []

In [65]:
for city, data in cities:
    highest_revenue_in_city = data.nlargest(1, 'Revenue')
    df = df.append(highest_revenue_in_city)

In [66]:
df

,Company,Sector,Industry,Location,Revenue,Profits,Employees
138,Abbott Laboratories,Health Care,Medical Products and Equipment,"Abbott Park, IL",20661.0,4423.0,74000.0
169,Goodyear Tire & Rubber,Motor Vehicles & Parts,Motor Vehicles and Parts,"Akron, OH",16443.0,307.0,66000.0
288,Air Products & Chemicals,Chemicals,Chemicals,"Allentown, PA",9895.0,1278.0,19550.0
830,Benchmark Electronics,Technology,Semiconductors and Other Electronic Components,"Angleton, TX",2541.0,95.0,10500.0
374,Casey’s General Stores,Retailing,Specialty Retailers: Other,"Ankeny, IA",7052.0,181.0,22408.0
915,Domino’s Pizza,"Hotels, Resturants & Leisure",Food Services,"Ann Arbor, MI",2217.0,193.0,11900.0
596,Colfax,Industrials,Industrial Machinery,"Annapolis Junction, MD",3967.0,168.0,17087.0
215,Land O’Lakes,"Food, Beverages & Tobacco",Food Consumer Products,"Arden Hills, MN",13161.0,308.0,10000.0
190,AES,Energy,Utilities: Gas and Electric,"Arlington, VA",14963.0,306.0,21000.0
31,IBM,Technology,Information Technology Services,"Armonk, NY",82461.0,13190.0,411798.0
28,Home Depot,Retailing,Specialty Retailers: Other,"Atlanta, GA",88519.0,7009.0,385000.0
310,Autoliv,Motor Vehicles & Parts,Motor Vehicles and Parts,"Auburn Hills, MI",9170.0,457.0,59350.0
304,Hormel Foods,"Food, Beverages & Tobacco",Food Consumer Products,"Austin, MN",9264.0,686.0,20700.0
181,Whole Foods Market,Food and Drug Stores,Food and Drug Stores,"Austin, TX",15389.0,536.0,76300.0
668,PolyOne,Chemicals,Chemicals,"Avon Lake, OH",3378.0,145.0,6900.0
573,T. Rowe Price,Financials,Securities,"Baltimore, MD",4201.0,1223.0,5999.0
420,Baxalta,Health Care,Pharmaceuticals,"Bannockburn, IL",6149.0,956.0,17000.0
624,Albemarle,Chemicals,Chemicals,"Baton Rouge, LA",3651.0,335.0,6963.0
207,Kellogg,"Food, Beverages & Tobacco",Food Consumer Products,"Battle Creek, MI",13525.0,614.0,33577.0
91,Nike,Apparel,Apparel,"Beaverton, OR",30601.0,3273.0,62600.0
147,Paccar,Motor Vehicles & Parts,Motor Vehicles and Parts,"Bellevue, WA",19115.0,1604.0,23000.0
645,Regal Beloit,Industrials,"Electronics, Electrical Equip.","Beloit, WI",3510.0,143.0,26200.0
134,Whirlpool,Industrials,"Electronics, Electrical Equip.","Benton Harbor, MI",20891.0,783.0,97000.0
1,Walmart,Retailing,General Merchandisers,"Bentonville, AR",482130.0,14694.0,2300000.0
594,Ametek,Technology,"Scientific,Photographic and Control Equipment","Berwyn, PA",3974.0,591.0,15400.0
60,Lockheed Martin,Aerospace & Defense,Aerospace and Defense,"Bethesda, MD",46132.0,3605.0,126000.0
399,Cablevision Systems,Telecommunications,Telecommunications,"Bethpage, NY",6510.0,175.0,13549.0
366,Live Nation Entertainment,Media,Entertainment,"Beverly Hills, CA",7246.0,-33.0,12200.0
453,Regions Financial,Financials,Commercial Banks,"Birmingham, AL",5674.0,1062.0,23916.0
453,Regions Financial,Financials,Commercial Banks,"Birmingham, AL",5674.0,1062.0,23916.0
...,...,...,...,...,...,...,...
120,Raytheon,Aerospace & Defense,Aerospace and Defense,"Waltham, MA",23247.0,2074.0,61000.0
850,United Refining,Energy,Petroleum Refining,"Warren, PA",2470.0,82.0,2997.0
431,Zimmer Biomet Holdings,Health Care,Medical Products and Equipment,"Warsaw, IN",5998.0,147.0,17500.0
16,Fannie Mae,Financials,Diversified Financials,"Washington, DC",110359.0,10954.0,7300.0
542,Keurig Green Mountain,"Food, Beverages & Tobacco",Beverages,"Waterbury, VT",4520.0,498.0,6000.0
898,MPM Holdings,Chemicals,Chemicals,"Waterford, NY",2289.0,-83.0,5000.0
874,Granite Construction,Engineering & Construction,"Engineering, Construction","Watsonville, CA",2371.0,61.0,3200.0
1000,Briggs & Stratton,Industrials,Industrial Machinery,"Wauwatosa, WI",1895.0,46.0,5480.0
240,Toys “R” Us,Retailing,Specialty Retailers: Other,"Wayne, NJ",11802.0,-130.0,62000.0
785,B/E Aerospace,Aerospace & Defense,Aerospace and Defense,"Wellington, FL",2730.0,286.0,10057.0
383,AK Steel Holding,Materials,Metals,"West Chester, OH",6693.0,-509.0,8500.0
829,Platform Specialty Products,Chemicals,Chemicals,"West Palm Beach, FL",2542.0,-309.0,8200.0
996,New York Community Bancorp,Financials,Commercial Banks,"Westbury, NY",1902.0,-47.0,3448.0
456,Ingredion,"Food, Beverages & Tobacco",Food Production,"Westchester, IL",5621.0,402.0,11500.0
439,TravelCenters of America,Retailing,Specialty Retailers: Other,"Westlake, OH",5851.0,28.0,18450.0
396,Terex,Industrials,Construction and Farm Machinery,"Westport, CT",6543.0,146.0,20400.0
847,ITT,Industrials,Industrial Machinery,"White Plains, NY",2486.0,352.0,9700.0
389,Spirit AeroSystems Holdings,Aerospace & Defense,Aerospace and Defense,"Wichita, KS",6644.0,789.0,15200.0
849,Tops Holding,Food and Drug Stores,Food and Drug Stores,"Williamsville, NY",2472.0,-62.0,14800.0
674,Westinghouse Air Brake Technologies,Industrials,Industrial Machinery,"Wilmerding, PA",3308.0,399.0,13000.0
101,DuPont,Chemicals,Chemicals,"Wilmington, DE",27940.0,1953.0,52000.0
607,Fastenal,Retailing,Specialty Retailers: Other,"Winona, MN",3869.0,516.0,20746.0
266,Reynolds American,"Food, Beverages & Tobacco",Tobacco,"Winston-Salem, NC",10675.0,3253.0,5650.0
678,Skyworks Solutions,Technology,Semiconductors and Other Electronic Components,"Woburn, MA",3258.0,798.0,6700.0
172,Health Net,Health Care,Health Care: Insurance and Managed Care,"Woodland Hills, CA",16244.0,186.0,8584.0
7,CVS Health,Food and Drug Stores,Food and Drug Stores,"Woonsocket, RI",153290.0,5237.0,199000.0
506,Hanover Insurance Group,Financials,Insurance: Property and Casualty (Stock),"Worcester, MA",5034.0,332.0,4800.0
764,Penn National Gaming,"Hotels, Resturants & Leisure","Hotels, Casinos, Resorts","Wyomissing, PA",2838.0,1.0,18204.0
773,Bon-Ton Stores,Retailing,General Merchandisers,"York, PA",2790.0,-57.0,24100.0
932,Herman Miller,Household Products,"Home Equipment, Furnishings","Zeeland, MI",2142.0,98.0,7510.0