## 11.146 Intro to the Module + Fetch Dataset from Google Finance

In [1]:
import pandas as pd
from pandas_datareader import data

In [3]:
companies = ["MSFT", "GOOG", "AAPL", "YHOO", "AMZN"]

p = data.DataReader(name = companies, data_source = "google",
                start = "2010-01-01", end = "2016-12-31")

p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1761 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to YHOO

## 11.147 The Axes of a Panel Object

In [8]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1761 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to YHOO

In [4]:
p.items

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [6]:
p.major_axis

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
               '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
               '2016-12-29', '2016-12-30'],
              dtype='datetime64[ns]', name='Date', length=1761, freq=None)

In [5]:
p.minor_axis

Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')

In [7]:
p.axes

[Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object'),
 DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
                '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
                '2016-12-29', '2016-12-30'],
               dtype='datetime64[ns]', name='Date', length=1761, freq=None),
 Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')]

## 11.148 Panel Attributes

In [9]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1761 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to YHOO

In [10]:
p.axes

[Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object'),
 DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
                '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
                '2016-12-29', '2016-12-30'],
               dtype='datetime64[ns]', name='Date', length=1761, freq=None),
 Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')]

In [11]:
p.items

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [12]:
p.major_axis

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
               '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
               '2016-12-29', '2016-12-30'],
              dtype='datetime64[ns]', name='Date', length=1761, freq=None)

In [13]:
p.minor_axis

Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')

In [14]:
p.ndim

3

In [15]:
p.dtypes

Open      float64
High      float64
Low       float64
Close     float64
Volume    float64
dtype: object

In [16]:
p.shape

(5, 1761, 5)

In [17]:
p.size

44025

In [18]:
5*1761*5

44025

In [19]:
p.values

array([[[  3.04900000e+01,   1.36250000e+02,   3.13160000e+02,
           3.06200000e+01,   1.69400000e+01],
        [  3.06600000e+01,   1.33430000e+02,   3.13280000e+02,
           3.08500000e+01,   1.72200000e+01],
        [  3.06300000e+01,   1.34600000e+02,   3.12620000e+02,
           3.08800000e+01,   1.71700000e+01],
        ...,
        [  1.17520000e+02,   7.76250000e+02,   7.93700000e+02,
           6.34000000e+01,   3.91200000e+01],
        [  1.16450000e+02,   7.72400000e+02,   7.83330000e+02,
           6.28600000e+01,   3.87600000e+01],
        [  1.16650000e+02,   7.66470000e+02,   7.82750000e+02,
           6.29600000e+01,   3.87200000e+01]],

       [[  3.06400000e+01,   1.36610000e+02,   3.14440000e+02,
           3.11000000e+01,   1.72000000e+01],
        [  3.08000000e+01,   1.35480000e+02,   3.13610000e+02,
           3.11000000e+01,   1.72300000e+01],
        [  3.07500000e+01,   1.34730000e+02,   3.12620000e+02,
           3.10800000e+01,   1.73000000e+01],
        ...,
        [  1.18020000e+02,   7.80000000e+02,   7.94230000e+02,
           6.34000000e+01,   3.92200000e+01],
        [  1.17110000e+02,   7.73400000e+02,   7.85930000e+02,
           6.32000000e+01,   3.89300000e+01],
        [  1.17200000e+02,   7.67400000e+02,   7.82780000e+02,
           6.29900000e+01,   3.90000000e+01]],

       [[  3.03400000e+01,   1.33140000e+02,   3.11810000e+02,
           3.05900000e+01,   1.68800000e+01],
        [  3.04600000e+01,   1.31810000e+02,   3.10460000e+02,
           3.06400000e+01,   1.70000000e+01],
        [  3.01100000e+01,   1.31650000e+02,   3.02880000e+02,
           3.05200000e+01,   1.70700000e+01],
        ...,
        [  1.16200000e+02,   7.70500000e+02,   7.83200000e+02,
           6.28300000e+01,   3.87100000e+01],
        [  1.16400000e+02,   7.60850000e+02,   7.78920000e+02,
           6.27300000e+01,   3.84800000e+01],
        [  1.15430000e+02,   7.48280000e+02,   7.70410000e+02,
           6.20300000e+01,   3.84300000e+01]],

       [[  3.05700000e+01,   1.33900000e+02,   3.13060000e+02,
           3.09500000e+01,   1.71000000e+01],
        [  3.06300000e+01,   1.34690000e+02,   3.11680000e+02,
           3.09600000e+01,   1.72300000e+01],
        [  3.01400000e+01,   1.32250000e+02,   3.03830000e+02,
           3.07700000e+01,   1.71700000e+01],
        ...,
        [  1.16760000e+02,   7.72130000e+02,   7.85050000e+02,
           6.29900000e+01,   3.87300000e+01],
        [  1.16730000e+02,   7.65150000e+02,   7.82790000e+02,
           6.29000000e+01,   3.86400000e+01],
        [  1.15820000e+02,   7.49870000e+02,   7.71820000e+02,
           6.21400000e+01,   3.86700000e+01]],

       [[  1.23432050e+08,   7.60054300e+06,              nan,
           3.84141850e+07,   1.65889570e+07],
        [  1.50476004e+08,   8.85645600e+06,              nan,
           4.97588620e+07,   1.17181260e+07],
        [  1.38039594e+08,   7.18097700e+06,              nan,
           5.81823320e+07,   1.64219600e+07],
        ...,
        [  2.09058920e+07,   3.30102500e+06,   1.15382400e+06,
           1.46533480e+07,   4.42836800e+06],
        [  1.50395190e+07,   3.15829900e+06,   7.44272000e+05,
           1.02505820e+07,   4.17049700e+06],
        [  3.05862650e+07,   4.13944900e+06,   1.76995000e+06,
           2.55799080e+07,   6.43279200e+06]]])

## 11.149 Use Bracket Notation to Extract a DataFrame (for Subsetting)

In [20]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1761 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to YHOO

In [21]:
p.items

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [24]:
p['Volume'].head()

                   AAPL        AMZN  GOOG        MSFT        YHOO
Date
2010-01-04  123432050.0   7600543.0   NaN  38414185.0  16588957.0
2010-01-05  150476004.0   8856456.0   NaN  49758862.0  11718126.0
2010-01-06  138039594.0   7180977.0   NaN  58182332.0  16421960.0
2010-01-07  119282324.0  11030124.0   NaN  50564285.0  31816301.0
2010-01-08  111969081.0   9833829.0   NaN  51201289.0  15471074.0

In [28]:
p.Volume

                   AAPL        AMZN       GOOG         MSFT        YHOO
Date
2010-01-04  123432050.0   7600543.0        NaN   38414185.0  16588957.0
2010-01-05  150476004.0   8856456.0        NaN   49758862.0  11718126.0
2010-01-06  138039594.0   7180977.0        NaN   58182332.0  16421960.0
2010-01-07  119282324.0  11030124.0        NaN   50564285.0  31816301.0
2010-01-08  111969081.0   9833829.0        NaN   51201289.0  15471074.0
2010-01-11  115557365.0   8786668.0        NaN   68754648.0  16185267.0
2010-01-12  148614774.0   9098190.0        NaN   65913228.0  15674461.0
2010-01-13  151472335.0  10727856.0        NaN   51863463.0  16961731.0
2010-01-14  108288411.0   9788435.0        NaN   63244767.0  16717061.0
2010-01-15  148584065.0  15382763.0        NaN   79915648.0  18415868.0
2010-01-19  182501620.0   8900116.0        NaN   46582886.0  15182984.0
2010-01-20  153037892.0   9081533.0        NaN   54857712.0  14421141.0
2010-01-21  152038565.0   9976146.0        NaN   73086701.0  21860505.0
2010-01-22  220441872.0  11577818.0        NaN  102004573.0  25135493.0
2010-01-25  266424802.0  12031053.0        NaN   63381173.0  19683693.0
2010-01-26  466777486.0   9567607.0        NaN   66647676.0  43979302.0
2010-01-27  430642030.0  14765273.0        NaN   63949492.0  41700911.0
2010-01-28  293375376.0  27293062.0        NaN  117513692.0  30159437.0
2010-01-29  311487785.0  29478976.0        NaN  193888424.0  39667312.0
2010-02-01  187468421.0  37774317.0        NaN   85931099.0  29865661.0
2010-02-02  174585313.0  23084986.0        NaN   54413654.0  27556624.0
2010-02-03  153831769.0  12409012.0        NaN   61397848.0  24730564.0
2010-02-04  189412762.0  12783912.0        NaN   77849968.0  27668017.0
2010-02-05  212576350.0  11027086.0        NaN   80960063.0  20713744.0
2010-02-08  119567119.0   9898391.0        NaN   52826474.0  19856359.0
2010-02-09  158221028.0   9227158.0        NaN   59195742.0  16716845.0
2010-02-10   92590218.0   6236250.0        NaN   48591246.0  36518008.0
2010-02-11  137585903.0   8344469.0        NaN   65995913.0  24510127.0
2010-02-12  163866906.0   8075533.0        NaN   81121515.0  18929239.0
2010-02-16  135987761.0   8938494.0        NaN   51938098.0  21453147.0
...                 ...         ...        ...          ...         ...
2016-11-17   26964598.0   3651345.0  1286961.0   31463728.0   8692013.0
2016-11-18   28428917.0   4373408.0  1547145.0   27686311.0   8138928.0
2016-11-21   29264571.0   4614574.0  1330639.0   19652595.0  11355856.0
2016-11-22   25965534.0   5311320.0  1593108.0   23206700.0   8881541.0
2016-11-23   27426394.0   3540263.0  1478417.0   21848913.0   3719257.0
2016-11-25   11475922.0   1837068.0   587421.0    8409616.0   2586908.0
2016-11-28   27193983.0   4438828.0  2188151.0   20732619.0   6836364.0
2016-11-29   28528750.0   3272344.0  1616618.0   22366721.0  13085981.0
2016-11-30   36162258.0   4625946.0  2392890.0   34655435.0   7644360.0
2016-12-01   37086862.0   4665993.0  3017947.0   34542121.0  12624139.0
2016-12-02   26527997.0   3561307.0  1452484.0   25515665.0   8588544.0
2016-12-05   34324540.0   4314723.0  1394223.0   23552658.0   4408407.0
2016-12-06   26195462.0   3794746.0  1690689.0   19907035.0   6987846.0
2016-12-07   29998719.0   3684906.0  1760966.0   30808969.0   7208492.0
2016-12-08   27068316.0   3189608.0  1488059.0   21220753.0   9171707.0
2016-12-09   34402627.0   2470923.0  1821914.0   27349356.0   6836112.0
2016-12-12   26374377.0   2963945.0  2104117.0   20198081.0   4451709.0
2016-12-13   43733811.0   5285288.0  2145209.0   35718868.0   6564552.0
2016-12-14   34031834.0   5454836.0  1704150.0   30352654.0  19555694.0
2016-12-15   46524544.0   3801927.0  1626499.0   27669868.0  43669990.0
2016-12-16   44351134.0   4848219.0  2443796.0   42453083.0  21694081.0
2016-12-19   27779423.0   3113240.0  1232087.0   34338219.0  13615511.0
2016-12-20   21424965.0   2703629.0   951014.0   26028379.0  25008427.0
2016-12-21   23783165.0   2044629.0  1211346.0   17096304.0   8296515.0
2016-12-22   26085854.0   2543551.0   972169.0   22176585.0  11685650.0
2016-12-23   14249484.0   1981616.0   623944.0   12403819.0   3841245.0
2016-12-27   18296855.0   2638725.0   789321.0   11763173.0   4240285.0
2016-12-28   20905892.0   3301025.0  1153824.0   14653348.0   4428368.0
2016-12-29   15039519.0   3158299.0   744272.0   10250582.0   4170497.0
2016-12-30   30586265.0   4139449.0  1769950.0   25579908.0   6432792.0

[1761 rows x 5 columns]

## 11.150 Extracting with the .loc[], .iloc[], and .ix[] Methods

In [29]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1761 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to YHOO

In [30]:
p.items

Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')

In [34]:
p.loc['Low', '2014-04-08', 'GOOG']

541.61000000000001

In [37]:
p.iloc[3, 200, 3]

25.309999999999999

In [39]:
p.ix['High', 500, 'YHOO']

16.050000000000001

## 11.151 Convert Paanel to a MultiIndex DataFrame (and Vice Versa)

In [40]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1761 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to YHOO

In [42]:
df = p.to_frame()

df.head()

                    Open    High     Low   Close       Volume
Date       minor
2010-01-04 AAPL    30.49   30.64   30.34   30.57  123432050.0
           AMZN   136.25  136.61  133.14  133.90    7600543.0
           MSFT    30.62   31.10   30.59   30.95   38414185.0
           YHOO    16.94   17.20   16.88   17.10   16588957.0
2010-01-05 AAPL    30.66   30.80   30.46   30.63  150476004.0

In [46]:
p2 = df.to_panel()
p2

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1761 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to YHOO

## 11.152 The .major_xs() Method

In [47]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1761 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to YHOO

In [49]:
p.items
p["Volume"]

                   AAPL        AMZN       GOOG         MSFT        YHOO
Date
2010-01-04  123432050.0   7600543.0        NaN   38414185.0  16588957.0
2010-01-05  150476004.0   8856456.0        NaN   49758862.0  11718126.0
2010-01-06  138039594.0   7180977.0        NaN   58182332.0  16421960.0
2010-01-07  119282324.0  11030124.0        NaN   50564285.0  31816301.0
2010-01-08  111969081.0   9833829.0        NaN   51201289.0  15471074.0
2010-01-11  115557365.0   8786668.0        NaN   68754648.0  16185267.0
2010-01-12  148614774.0   9098190.0        NaN   65913228.0  15674461.0
2010-01-13  151472335.0  10727856.0        NaN   51863463.0  16961731.0
2010-01-14  108288411.0   9788435.0        NaN   63244767.0  16717061.0
2010-01-15  148584065.0  15382763.0        NaN   79915648.0  18415868.0
2010-01-19  182501620.0   8900116.0        NaN   46582886.0  15182984.0
2010-01-20  153037892.0   9081533.0        NaN   54857712.0  14421141.0
2010-01-21  152038565.0   9976146.0        NaN   73086701.0  21860505.0
2010-01-22  220441872.0  11577818.0        NaN  102004573.0  25135493.0
2010-01-25  266424802.0  12031053.0        NaN   63381173.0  19683693.0
2010-01-26  466777486.0   9567607.0        NaN   66647676.0  43979302.0
2010-01-27  430642030.0  14765273.0        NaN   63949492.0  41700911.0
2010-01-28  293375376.0  27293062.0        NaN  117513692.0  30159437.0
2010-01-29  311487785.0  29478976.0        NaN  193888424.0  39667312.0
2010-02-01  187468421.0  37774317.0        NaN   85931099.0  29865661.0
2010-02-02  174585313.0  23084986.0        NaN   54413654.0  27556624.0
2010-02-03  153831769.0  12409012.0        NaN   61397848.0  24730564.0
2010-02-04  189412762.0  12783912.0        NaN   77849968.0  27668017.0
2010-02-05  212576350.0  11027086.0        NaN   80960063.0  20713744.0
2010-02-08  119567119.0   9898391.0        NaN   52826474.0  19856359.0
2010-02-09  158221028.0   9227158.0        NaN   59195742.0  16716845.0
2010-02-10   92590218.0   6236250.0        NaN   48591246.0  36518008.0
2010-02-11  137585903.0   8344469.0        NaN   65995913.0  24510127.0
2010-02-12  163866906.0   8075533.0        NaN   81121515.0  18929239.0
2010-02-16  135987761.0   8938494.0        NaN   51938098.0  21453147.0
...                 ...         ...        ...          ...         ...
2016-11-17   26964598.0   3651345.0  1286961.0   31463728.0   8692013.0
2016-11-18   28428917.0   4373408.0  1547145.0   27686311.0   8138928.0
2016-11-21   29264571.0   4614574.0  1330639.0   19652595.0  11355856.0
2016-11-22   25965534.0   5311320.0  1593108.0   23206700.0   8881541.0
2016-11-23   27426394.0   3540263.0  1478417.0   21848913.0   3719257.0
2016-11-25   11475922.0   1837068.0   587421.0    8409616.0   2586908.0
2016-11-28   27193983.0   4438828.0  2188151.0   20732619.0   6836364.0
2016-11-29   28528750.0   3272344.0  1616618.0   22366721.0  13085981.0
2016-11-30   36162258.0   4625946.0  2392890.0   34655435.0   7644360.0
2016-12-01   37086862.0   4665993.0  3017947.0   34542121.0  12624139.0
2016-12-02   26527997.0   3561307.0  1452484.0   25515665.0   8588544.0
2016-12-05   34324540.0   4314723.0  1394223.0   23552658.0   4408407.0
2016-12-06   26195462.0   3794746.0  1690689.0   19907035.0   6987846.0
2016-12-07   29998719.0   3684906.0  1760966.0   30808969.0   7208492.0
2016-12-08   27068316.0   3189608.0  1488059.0   21220753.0   9171707.0
2016-12-09   34402627.0   2470923.0  1821914.0   27349356.0   6836112.0
2016-12-12   26374377.0   2963945.0  2104117.0   20198081.0   4451709.0
2016-12-13   43733811.0   5285288.0  2145209.0   35718868.0   6564552.0
2016-12-14   34031834.0   5454836.0  1704150.0   30352654.0  19555694.0
2016-12-15   46524544.0   3801927.0  1626499.0   27669868.0  43669990.0
2016-12-16   44351134.0   4848219.0  2443796.0   42453083.0  21694081.0
2016-12-19   27779423.0   3113240.0  1232087.0   34338219.0  13615511.0
2016-12-20   21424965.0   2703629.0   951014.0   26028379.0  25008427.0
2016-12-21   23783165.0   2044629.0  1211346.0   17096304.0   8296515.0
2016-12-22   26085854.0   2543551.0   972169.0   22176585.0  11685650.0
2016-12-23   14249484.0   1981616.0   623944.0   12403819.0   3841245.0
2016-12-27   18296855.0   2638725.0   789321.0   11763173.0   4240285.0
2016-12-28   20905892.0   3301025.0  1153824.0   14653348.0   4428368.0
2016-12-29   15039519.0   3158299.0   744272.0   10250582.0   4170497.0
2016-12-30   30586265.0   4139449.0  1769950.0   25579908.0   6432792.0

[1761 rows x 5 columns]

In [50]:
p.major_axis

DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
               '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
               '2010-01-14', '2010-01-15',
               ...
               '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
               '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
               '2016-12-29', '2016-12-30'],
              dtype='datetime64[ns]', name='Date', length=1761, freq=None)

In [52]:
p.major_xs('2013-12-20')

        Open    High     Low   Close       Volume
AAPL   77.91   78.80   77.83   78.43  109103435.0
AMZN  396.84  404.72  395.78  402.20    5038537.0
GOOG  544.10  550.03  543.46  549.76          NaN
MSFT   36.25   36.93   36.18   36.80   62650324.0
YHOO   40.35   40.60   40.11   40.12   24640437.0

## 11.153 The .minor_xs() Method

In [53]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1761 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to YHOO

In [54]:
p.minor_axis

Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')

In [55]:
p.minor_xs('AAPL')

              Open    High     Low   Close       Volume
Date
2010-01-04   30.49   30.64   30.34   30.57  123432050.0
2010-01-05   30.66   30.80   30.46   30.63  150476004.0
2010-01-06   30.63   30.75   30.11   30.14  138039594.0
2010-01-07   30.25   30.29   29.86   30.08  119282324.0
2010-01-08   30.04   30.29   29.87   30.28  111969081.0
2010-01-11   30.40   30.43   29.78   30.02  115557365.0
2010-01-12   29.88   29.97   29.49   29.67  148614774.0
2010-01-13   29.70   30.13   29.16   30.09  151472335.0
2010-01-14   30.02   30.07   29.86   29.92  108288411.0
2010-01-15   30.13   30.23   29.41   29.42  148584065.0
2010-01-19   29.76   30.74   29.61   30.72  182501620.0
2010-01-20   30.70   30.79   29.93   30.25  153037892.0
2010-01-21   30.30   30.47   29.60   29.72  152038565.0
2010-01-22   29.54   29.64   28.17   28.25  220441872.0
2010-01-25   28.93   29.24   28.60   29.01  266424802.0
2010-01-26   29.42   30.53   28.94   29.42  466777486.0
2010-01-27   29.55   30.08   28.50   29.70  430642030.0
2010-01-28   29.28   29.36   28.39   28.47  293375376.0
2010-01-29   28.73   28.89   27.18   27.44  311487785.0
2010-02-01   27.48   28.00   27.33   27.82  187468421.0
2010-02-02   27.99   28.05   27.63   27.98  174585313.0
2010-02-03   27.88   28.60   27.77   28.46  153831769.0
2010-02-04   28.10   28.34   27.37   27.44  189412762.0
2010-02-05   27.52   28.00   27.26   27.92  212576350.0
2010-02-08   27.96   28.27   27.71   27.73  119567119.0
2010-02-09   28.06   28.21   27.82   28.03  158221028.0
2010-02-10   27.98   28.09   27.75   27.87   92590218.0
2010-02-11   27.84   28.54   27.72   28.38  137585903.0
2010-02-12   28.30   28.81   27.93   28.63  163866906.0
2010-02-16   28.85   29.10   28.79   29.06  135987761.0
...            ...     ...     ...     ...          ...
2016-11-17  109.81  110.35  108.83  109.95   26964598.0
2016-11-18  109.72  110.54  109.66  110.06   28428917.0
2016-11-21  110.12  111.99  110.01  111.73   29264571.0
2016-11-22  111.95  112.42  111.40  111.80   25965534.0
2016-11-23  111.36  111.51  110.33  111.23   27426394.0
2016-11-25  111.47  111.87  110.95  111.79   11475922.0
2016-11-28  111.43  112.46  111.39  111.57   27193983.0
2016-11-29  110.78  112.03  110.07  111.46   28528750.0
2016-11-30  111.60  112.20  110.27  110.52   36162258.0
2016-12-01  110.36  110.94  109.03  109.49   37086862.0
2016-12-02  109.17  110.09  108.85  109.90   26527997.0
2016-12-05  110.00  110.03  108.25  109.11   34324540.0
2016-12-06  109.50  110.36  109.19  109.95   26195462.0
2016-12-07  109.26  111.19  109.16  111.03   29998719.0
2016-12-08  110.86  112.43  110.60  112.12   27068316.0
2016-12-09  112.31  114.70  112.31  113.95   34402627.0
2016-12-12  113.29  115.00  112.49  113.30   26374377.0
2016-12-13  113.84  115.92  113.75  115.19   43733811.0
2016-12-14  115.04  116.20  114.98  115.19   34031834.0
2016-12-15  115.38  116.73  115.23  115.82   46524544.0
2016-12-16  116.47  116.50  115.64  115.97   44351134.0
2016-12-19  115.80  117.38  115.75  116.64   27779423.0
2016-12-20  116.74  117.50  116.68  116.95   21424965.0
2016-12-21  116.80  117.40  116.78  117.06   23783165.0
2016-12-22  116.35  116.51  115.64  116.29   26085854.0
2016-12-23  115.59  116.52  115.59  116.52   14249484.0
2016-12-27  116.52  117.80  116.49  117.26   18296855.0
2016-12-28  117.52  118.02  116.20  116.76   20905892.0
2016-12-29  116.45  117.11  116.40  116.73   15039519.0
2016-12-30  116.65  117.20  115.43  115.82   30586265.0

[1761 rows x 5 columns]

In [59]:
p.minor_xs('MSFT')
p.minor_xs("GOOG").head(3)

              Open    High     Low   Close  Volume
Date
2010-01-04  313.16  314.44  311.81  313.06     NaN
2010-01-05  313.28  313.61  310.46  311.68     NaN
2010-01-06  312.62  312.62  302.88  303.83     NaN

In [60]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1761 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to YHOO

In [64]:
p["Open"]
p.major_xs('2016-09-16')
p.minor_xs('YHOO').head(3)

             Open   High    Low  Close      Volume
Date
2010-01-04  16.94  17.20  16.88  17.10  16588957.0
2010-01-05  17.22  17.23  17.00  17.23  11718126.0
2010-01-06  17.17  17.30  17.07  17.17  16421960.0

## 11.154 Transpose a Panel with the .transpose() Method

In [65]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1761 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to YHOO

In [70]:
p.axes

[Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object'),
 DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
                '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
                '2016-12-29', '2016-12-30'],
               dtype='datetime64[ns]', name='Date', length=1761, freq=None),
 Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object')]

In [71]:
p2 = p.transpose(2, 1, 0)

In [72]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1761 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to YHOO

In [78]:
p2

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1761 (major_axis) x 5 (minor_axis)
Items axis: AAPL to YHOO
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: Open to Volume

In [75]:
p2['GOOG']

              Open    High     Low   Close     Volume
Date
2010-01-04  313.16  314.44  311.81  313.06        NaN
2010-01-05  313.28  313.61  310.46  311.68        NaN
2010-01-06  312.62  312.62  302.88  303.83        NaN
2010-01-07  304.40  304.70  296.03  296.75        NaN
2010-01-08  295.70  301.32  294.26  300.71        NaN
2010-01-11  301.93  301.93  296.72  300.25        NaN
2010-01-12  298.74  298.78  293.71  294.94        NaN
2010-01-13  287.96  293.90  286.66  293.25        NaN
2010-01-14  291.66  296.80  291.11  294.63        NaN
2010-01-15  295.50  296.48  288.73  289.71        NaN
2010-01-19  290.45  294.91  287.86  293.52        NaN
2010-01-20  292.70  292.70  287.36  289.91        NaN
2010-01-21  291.43  293.12  285.84  291.20        NaN
2010-01-22  281.97  285.01  267.16  274.73        NaN
2010-01-25  273.02  274.66  267.49  269.73        NaN
2010-01-26  268.72  274.53  267.88  270.94        NaN
2010-01-27  270.36  273.55  267.39  270.78        NaN
2010-01-28  271.97  273.23  265.03  266.88        NaN
2010-01-29  268.98  270.22  262.54  264.71        NaN
2010-02-01  267.03  267.64  264.88  266.24        NaN
2010-02-02  267.21  267.21  263.54  265.29        NaN
2010-02-03  264.07  270.78  263.85  270.14        NaN
2010-02-04  268.23  268.73  262.52  263.13        NaN
2010-02-05  263.94  266.48  260.97  265.38        NaN
2010-02-08  265.98  270.73  265.50  266.47        NaN
2010-02-09  269.50  270.49  267.27  267.95        NaN
2010-02-10  266.77  268.63  263.58  266.96        NaN
2010-02-11  265.86  269.97  264.49  267.93        NaN
2010-02-12  266.22  268.31  264.98  266.29        NaN
2010-02-16  268.30  271.79  266.88  270.38        NaN
...            ...     ...     ...     ...        ...
2016-11-17  766.92  772.70  764.23  771.23  1286961.0
2016-11-18  771.37  775.00  760.00  760.54  1547145.0
2016-11-21  762.61  769.70  760.60  769.20  1330639.0
2016-11-22  772.63  776.96  767.00  768.27  1593108.0
2016-11-23  767.73  768.28  755.25  760.99  1478417.0
2016-11-25  764.26  765.00  760.52  761.68   587421.0
2016-11-28  760.00  779.53  759.80  768.24  2188151.0
2016-11-29  771.53  778.50  768.24  770.84  1616618.0
2016-11-30  770.07  772.99  754.83  758.04  2392890.0
2016-12-01  757.44  759.85  737.02  747.92  3017947.0
2016-12-02  744.59  754.00  743.10  750.50  1452484.0
2016-12-05  757.71  763.90  752.90  762.52  1394223.0
2016-12-06  764.73  768.83  757.34  759.11  1690689.0
2016-12-07  761.00  771.36  755.80  771.19  1760966.0
2016-12-08  772.48  778.18  767.23  776.42  1488059.0
2016-12-09  780.00  789.43  779.02  789.29  1821914.0
2016-12-12  785.04  791.25  784.36  789.27  2104117.0
2016-12-13  793.90  804.38  793.34  796.10  2145209.0
2016-12-14  797.40  804.00  794.01  797.07  1704150.0
2016-12-15  797.34  803.00  792.92  797.85  1626499.0
2016-12-16  800.40  800.86  790.29  790.80  2443796.0
2016-12-19  790.22  797.66  786.27  794.20  1232087.0
2016-12-20  796.76  798.65  793.27  796.42   951014.0
2016-12-21  795.84  796.68  787.10  794.56  1211346.0
2016-12-22  792.36  793.32  788.58  791.26   972169.0
2016-12-23  790.90  792.74  787.28  789.91   623944.0
2016-12-27  790.68  797.86  787.66  791.55   789321.0
2016-12-28  793.70  794.23  783.20  785.05  1153824.0
2016-12-29  783.33  785.93  778.92  782.79   744272.0
2016-12-30  782.75  782.78  770.41  771.82  1769950.0

[1761 rows x 5 columns]

In [76]:
p2.major_xs('2010-01-04')

                AAPL        AMZN    GOOG         MSFT         YHOO
Open    3.049000e+01      136.25  313.16        30.62        16.94
High    3.064000e+01      136.61  314.44        31.10        17.20
Low     3.034000e+01      133.14  311.81        30.59        16.88
Close   3.057000e+01      133.90  313.06        30.95        17.10
Volume  1.234320e+08  7600543.00     NaN  38414185.00  16588957.00

In [77]:
p2.minor_xs('Volume')

                   AAPL        AMZN       GOOG         MSFT        YHOO
Date
2010-01-04  123432050.0   7600543.0        NaN   38414185.0  16588957.0
2010-01-05  150476004.0   8856456.0        NaN   49758862.0  11718126.0
2010-01-06  138039594.0   7180977.0        NaN   58182332.0  16421960.0
2010-01-07  119282324.0  11030124.0        NaN   50564285.0  31816301.0
2010-01-08  111969081.0   9833829.0        NaN   51201289.0  15471074.0
2010-01-11  115557365.0   8786668.0        NaN   68754648.0  16185267.0
2010-01-12  148614774.0   9098190.0        NaN   65913228.0  15674461.0
2010-01-13  151472335.0  10727856.0        NaN   51863463.0  16961731.0
2010-01-14  108288411.0   9788435.0        NaN   63244767.0  16717061.0
2010-01-15  148584065.0  15382763.0        NaN   79915648.0  18415868.0
2010-01-19  182501620.0   8900116.0        NaN   46582886.0  15182984.0
2010-01-20  153037892.0   9081533.0        NaN   54857712.0  14421141.0
2010-01-21  152038565.0   9976146.0        NaN   73086701.0  21860505.0
2010-01-22  220441872.0  11577818.0        NaN  102004573.0  25135493.0
2010-01-25  266424802.0  12031053.0        NaN   63381173.0  19683693.0
2010-01-26  466777486.0   9567607.0        NaN   66647676.0  43979302.0
2010-01-27  430642030.0  14765273.0        NaN   63949492.0  41700911.0
2010-01-28  293375376.0  27293062.0        NaN  117513692.0  30159437.0
2010-01-29  311487785.0  29478976.0        NaN  193888424.0  39667312.0
2010-02-01  187468421.0  37774317.0        NaN   85931099.0  29865661.0
2010-02-02  174585313.0  23084986.0        NaN   54413654.0  27556624.0
2010-02-03  153831769.0  12409012.0        NaN   61397848.0  24730564.0
2010-02-04  189412762.0  12783912.0        NaN   77849968.0  27668017.0
2010-02-05  212576350.0  11027086.0        NaN   80960063.0  20713744.0
2010-02-08  119567119.0   9898391.0        NaN   52826474.0  19856359.0
2010-02-09  158221028.0   9227158.0        NaN   59195742.0  16716845.0
2010-02-10   92590218.0   6236250.0        NaN   48591246.0  36518008.0
2010-02-11  137585903.0   8344469.0        NaN   65995913.0  24510127.0
2010-02-12  163866906.0   8075533.0        NaN   81121515.0  18929239.0
2010-02-16  135987761.0   8938494.0        NaN   51938098.0  21453147.0
...                 ...         ...        ...          ...         ...
2016-11-17   26964598.0   3651345.0  1286961.0   31463728.0   8692013.0
2016-11-18   28428917.0   4373408.0  1547145.0   27686311.0   8138928.0
2016-11-21   29264571.0   4614574.0  1330639.0   19652595.0  11355856.0
2016-11-22   25965534.0   5311320.0  1593108.0   23206700.0   8881541.0
2016-11-23   27426394.0   3540263.0  1478417.0   21848913.0   3719257.0
2016-11-25   11475922.0   1837068.0   587421.0    8409616.0   2586908.0
2016-11-28   27193983.0   4438828.0  2188151.0   20732619.0   6836364.0
2016-11-29   28528750.0   3272344.0  1616618.0   22366721.0  13085981.0
2016-11-30   36162258.0   4625946.0  2392890.0   34655435.0   7644360.0
2016-12-01   37086862.0   4665993.0  3017947.0   34542121.0  12624139.0
2016-12-02   26527997.0   3561307.0  1452484.0   25515665.0   8588544.0
2016-12-05   34324540.0   4314723.0  1394223.0   23552658.0   4408407.0
2016-12-06   26195462.0   3794746.0  1690689.0   19907035.0   6987846.0
2016-12-07   29998719.0   3684906.0  1760966.0   30808969.0   7208492.0
2016-12-08   27068316.0   3189608.0  1488059.0   21220753.0   9171707.0
2016-12-09   34402627.0   2470923.0  1821914.0   27349356.0   6836112.0
2016-12-12   26374377.0   2963945.0  2104117.0   20198081.0   4451709.0
2016-12-13   43733811.0   5285288.0  2145209.0   35718868.0   6564552.0
2016-12-14   34031834.0   5454836.0  1704150.0   30352654.0  19555694.0
2016-12-15   46524544.0   3801927.0  1626499.0   27669868.0  43669990.0
2016-12-16   44351134.0   4848219.0  2443796.0   42453083.0  21694081.0
2016-12-19   27779423.0   3113240.0  1232087.0   34338219.0  13615511.0
2016-12-20   21424965.0   2703629.0   951014.0   26028379.0  25008427.0
2016-12-21   23783165.0   2044629.0  1211346.0   17096304.0   8296515.0
2016-12-22   26085854.0   2543551.0   972169.0   22176585.0  11685650.0
2016-12-23   14249484.0   1981616.0   623944.0   12403819.0   3841245.0
2016-12-27   18296855.0   2638725.0   789321.0   11763173.0   4240285.0
2016-12-28   20905892.0   3301025.0  1153824.0   14653348.0   4428368.0
2016-12-29   15039519.0   3158299.0   744272.0   10250582.0   4170497.0
2016-12-30   30586265.0   4139449.0  1769950.0   25579908.0   6432792.0

[1761 rows x 5 columns]

## 11.155 The .swapaxes() Method

In [79]:
p

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 1761 (major_axis) x 5 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2010-01-04 00:00:00 to 2016-12-30 00:00:00
Minor_axis axis: AAPL to YHOO

In [81]:
p2 = p.swapaxes('items', 'minor')

In [82]:
p2.axes

[Index(['AAPL', 'AMZN', 'GOOG', 'MSFT', 'YHOO'], dtype='object'),
 DatetimeIndex(['2010-01-04', '2010-01-05', '2010-01-06', '2010-01-07',
                '2010-01-08', '2010-01-11', '2010-01-12', '2010-01-13',
                '2010-01-14', '2010-01-15',
                ...
                '2016-12-16', '2016-12-19', '2016-12-20', '2016-12-21',
                '2016-12-22', '2016-12-23', '2016-12-27', '2016-12-28',
                '2016-12-29', '2016-12-30'],
               dtype='datetime64[ns]', name='Date', length=1761, freq=None),
 Index(['Open', 'High', 'Low', 'Close', 'Volume'], dtype='object')]

In [85]:
p2["MSFT"]
p2.major_xs('2016-09-02')
p2.minor_xs('Close')

              AAPL    AMZN    GOOG   MSFT   YHOO
Date
2010-01-04   30.57  133.90  313.06  30.95  17.10
2010-01-05   30.63  134.69  311.68  30.96  17.23
2010-01-06   30.14  132.25  303.83  30.77  17.17
2010-01-07   30.08  130.00  296.75  30.45  16.70
2010-01-08   30.28  133.52  300.71  30.66  16.70
2010-01-11   30.02  130.31  300.25  30.27  16.74
2010-01-12   29.67  127.35  294.94  30.07  16.68
2010-01-13   30.09  129.11  293.25  30.35  16.90
2010-01-14   29.92  127.35  294.63  30.96  17.12
2010-01-15   29.42  127.14  289.71  30.86  16.82
2010-01-19   30.72  127.61  293.52  31.10  16.75
2010-01-20   30.25  125.78  289.91  30.58  16.38
2010-01-21   29.72  126.62  291.20  30.01  16.20
2010-01-22   28.25  121.43  274.73  28.96  15.88
2010-01-25   29.01  120.31  269.73  29.32  15.86
2010-01-26   29.42  119.48  270.94  29.50  15.99
2010-01-27   29.70  122.75  270.78  29.67  15.98
2010-01-28   28.47  126.03  266.88  29.16  15.44
2010-01-29   27.44  125.41  264.71  28.18  15.01
2010-02-01   27.82  118.87  266.24  28.41  15.05
2010-02-02   27.98  118.12  265.29  28.46  15.17
2010-02-03   28.46  119.10  270.14  28.63  15.46
2010-02-04   27.44  115.94  263.13  27.84  15.01
2010-02-05   27.92  117.39  265.38  28.02  15.19
2010-02-08   27.73  116.83  266.47  27.72  14.99
2010-02-09   28.03  118.03  267.95  28.01  15.07
2010-02-10   27.87  117.36  266.96  27.99  14.80
2010-02-11   28.38  120.09  267.93  28.12  15.22
2010-02-12   28.63  119.66  266.29  27.93  15.17
2010-02-16   29.06  117.53  270.38  28.35  15.41
...            ...     ...     ...    ...    ...
2016-11-17  109.95  756.40  771.23  60.64  41.45
2016-11-18  110.06  760.16  760.54  60.35  41.19
2016-11-21  111.73  780.00  769.20  60.86  41.11
2016-11-22  111.80  785.33  768.27  61.12  41.01
2016-11-23  111.23  780.12  760.99  60.40  40.96
2016-11-25  111.79  780.37  761.68  60.53  40.87
2016-11-28  111.57  766.77  768.24  60.61  41.45
2016-11-29  111.46  762.52  770.84  61.09  41.60
2016-11-30  110.52  750.57  758.04  60.26  41.02
2016-12-01  109.49  743.65  747.92  59.20  39.63
2016-12-02  109.90  740.34  750.50  59.25  40.07
2016-12-05  109.11  759.36  762.52  60.22  40.20
2016-12-06  109.95  764.72  759.11  59.95  39.97
2016-12-07  111.03  770.42  771.19  61.37  40.52
2016-12-08  112.12  767.33  776.42  61.01  41.41
2016-12-09  113.95  768.66  789.29  61.97  41.76
2016-12-12  113.30  760.12  789.27  62.17  41.30
2016-12-13  115.19  774.34  796.10  62.98  41.47
2016-12-14  115.19  768.82  797.07  62.68  40.91
2016-12-15  115.82  761.00  797.85  62.58  38.41
2016-12-16  115.97  757.77  790.80  62.30  38.61
2016-12-19  116.64  766.00  794.20  63.62  38.42
2016-12-20  116.95  771.22  796.42  63.54  39.16
2016-12-21  117.06  770.60  794.56  63.54  39.15
2016-12-22  116.29  766.34  791.26  63.55  38.50
2016-12-23  116.52  760.59  789.91  63.24  38.66
2016-12-27  117.26  771.40  791.55  63.28  38.92
2016-12-28  116.76  772.13  785.05  62.99  38.73
2016-12-29  116.73  765.15  782.79  62.90  38.64
2016-12-30  115.82  749.87  771.82  62.14  38.67

[1761 rows x 5 columns]